html body {
    font-family:'Avenir LT W01 35 Light',"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:16px;color:#333;
}
a {
    color:#0099bb;
    text-decoration:none;
}
div.container {
    margin:20px auto 5px;
    width: 100%;
    padding:0;
    padding:0;
} 
div.wrapper {
    background:url("//www.scrollmotion.com/sites/all/themes/scrollmotion/images/body/system_message-logo-trans-lg.png") no-repeat fixed 50% 5% #fff;
    margin: 0 auto;
    width: 90%;
    padding:0;
    padding:0;
}
h1 {
    font-size: 18px;
    text-align:center;
}
h2 {
    font-size: 18px;
    text-align:center;
}
.content {
    text-align:justify;
}
.disclaimer {
    font-size:14px;
}
.acceptance {
    font-size: 13px;
}
.aligned {}
.justified {}
p.updated {
    font-size: 14px;
}
span.firstcap {
    font-size: 140%;
    padding-right:0.05em;
}
span.larger {
    font-size: 140%;
}
span.smaller {
    font-size: 80%;
}
.content > ul {
    display: list-item;
    list-style: none outside none;
    padding: 0;
}
ul li {
    line-height:20px;
    margin-bottom:8px;
}
ul ul.aligned {
    list-style: none outside none;
    padding: 0;
}
ul.letter li,
ul.roman li {
    list-style: none outside none;
    margin: 4px 0;
}
strong {
    font-family:'Avenir LT W01 85 Heavy',"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:normal;
}
span.underline {
    border-bottom:1px solid #333;
}
.confidential {
    margin-top:40px;
}
.copyright {
    font-size: 12px;
    color: #959595;
    margin-top: 50px;
    text-align:center;
}
h1.section-header {
    padding-top: 35px;
}
h1.section-header+h2{
    margin-top:-10px;
}
@media print {
    div.wrapper {
        display:none!important;
    }
}
