/*
 * Theme Name: ScrollMotion 2017
 * Theme URI:
 * Author: ScrollMotion JS Labs
 * Author URI: http://www.scrollmotion.com/
 * Description: ScrollMotion Theme For 2017
 * Version: 1.0
 */

/*
 * Base Styles
 */

/* Universal box-sizing as per https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}

/* Universal box-sizing as per https://css-tricks.com/box-sizing/ */
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin:                 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing:         antialiased;
}

/* Make all links opaque on hover */
a:hover, a:active {
    opacity: 0.4;
    cursor:  pointer;
}
