@font-face {
    font-family: Brandon Grotesque Light;
    src:         url('fonts/HVD_Fonts-BrandonGrotesque-Light.otf');
}
@font-face {
    font-family: Brandon Grotesque Regular;
    src:         url('fonts/HVD_Fonts-BrandonGrotesque-Regular.otf');
}
@font-face {
    font-family: Brandon Grotesque Medium;
    src:         url('fonts/HVD_Fonts-BrandonGrotesque-Medium.otf');
}
@font-face {
    font-family: Brandon Grotesque Black;
    src:         url('fonts/HVD_Fonts-BrandonGrotesque-Black.otf');
}
@font-face {
    font-family: Brandon Grotesque Bold;
    src:         url('fonts/HVD_Fonts-BrandonGrotesque-Bold.otf');
}
