@button-color:       @dark-sky-blue;
@button-focus-color: rgba(255, 255, 255, .4);

.interstitial {
    display:          flex;
    align-items:      center;
    justify-content:  center;
    min-height:       90vh;
    color:            white;
    font-family:      Brandon Grotesque Bold, Helvetica, Helvetica Neue, Arial, sans-serif;
    background:       @slate-grey;
    text-align:       center;
    padding-left:     84px;
    padding-right:    84px;
}

.interstitial__title {
    display:      block;
    width:        100%;
    max-width:    775px;
    font-size:    48px;
    line-height:  68px;
}

.interstitial__subtitle {
    font-size:   32px;
    margin-top:  18px;
}

.interstitial__button {
    font-size:      14px;
    font-family:    Brandon Grotesque Black, Helvetica, Helvetica Neue, Arial, sans-serif;
    letter-spacing: 3px;
    color:          white;
    background:     @button-color;
    border-radius:  3px;
    outline:        none;
    border:         2px solid @button-color;
    margin-top:     60px;
    padding:        14px 78px;
    cursor:         pointer;
    text-transform: uppercase;

    &:focus {
        border: 2px solid @button-focus-color;
    }

    &:active {
        border:      2px solid lighten(@button-color, 12%);
        background:  lighten(@button-color, 12%);
    }
}

@media (max-width: 414px) {
    .interstitial {
        padding-left:  26px;
        padding-right: 26px;
    }

    .interstitial__title {
        font-size: 36px;
        line-height: 52px;
    }
}
