@import './reset';
@import './fonts';
@import './colors';
@import './base';
@import './footer/footer';
@import './header/header';
@import './components/video-scrim'; // hides video scrim on footer

body {
    margin: 0;
    background-color: #FAFAF7;
}

/*
 * Transparent header was not working with the light legacy theme.
 */
.header {
    background: @charcoal-grey;
}

article {
    color: #4F4E5B;
    line-height: 16px;
    font-size: 16px;
    font-family: 'Brandon Grotesque Regular', 'helvetica-neue', helvetica, sans-serif;
    text-align: center;

    section {
        width: 100%;

        .section-content {
            padding-bottom: 5em;

            &.no-padding {
                padding-bottom: 0em;
            }
        }
    }

    li, p {
        margin: 0;
        font-size: 2em;
        line-height: 1.375em;
        letter-spacing: -0.8px;
        font-weight: normal;
    }

    li {
        list-style-position: inside;
    }

    a {
        word-break: break-word;
        word-wrap: break-word;
        color: #2BA3E3;
        text-decoration: none;
        outline: 0;
        cursor: pointer;
    }

    h1 {
        font-weight: normal;
        font-size: 3.5em;
        font-family: 'Brandon Grotesque Bold';
        line-height: 1.14286em;
        margin: 0;
    }

    h2 {
        font-size: 2.5em;
        line-height: 1.2em;
        letter-spacing: -1px;
        font-weight: normal;
        font-family: 'Brandon Grotesque Bold';
        margin: 0;

        &.header1 {
            text-transform: uppercase;
            font-size: 0.875em;
            font-family: 'Brandon Grotesque Black';
            letter-spacing: 3px;
        }

        &.header2 {
            font-size: 0.875em;
            line-height: 1.14286em;
            letter-spacing: 3px;
            font-family: 'Brandon Grotesque Black';
            text-transform: uppercase;
            cursor: default;
        }

        &.header3 {
            color: rgb(79, 78, 91);
            display: block;
            font-family: "Brandon Grotesque Regular", helvetica-neue, helvetica, sans-serif;
            font-size: 32px;
            letter-spacing: -0.8px;
            line-height: 44px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            text-align: center;
            -webkit-margin-after: 0px;
            -webkit-margin-before: 0px;
            -webkit-margin-end: 0px;
            -webkit-margin-start: 0px;
        }

        &.whiteText {
            color: rgb(255, 255, 255);
        }
    }

    h3 {
        font-size: 0.875em;
        text-transform: uppercase;
        font-family: 'Brandon Grotesque Medium';
        letter-spacing: 1.5px;
        margin: 0;
    }

    label, a.button, button, input[type=submit], select {
        font-size: 0.875em;
        line-height: 1.14286em;
        letter-spacing: 3px;
        font-family: 'Brandon Grotesque Black';
        text-transform: uppercase;
    }

    a.button {
        display: inline-block;
    }

    select {
        font-family: 'Brandon Grotesque Medium';
        background: none;
        border: none;
        -ms-appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        letter-spacing: 1.5px;
    }

    a.button, button, input[type=submit] {
        outline: none;
        padding: 1.07143em 0;
        border: 1px solid #2EA1E8;
        color: #2BA3E3;
        border-radius: 2px;
        width: 85.85867%;
        background: none;
        margin-bottom: 3em;
        cursor: pointer;

        &:hover {
            opacity: 0.4;
        }

        &:active {
            opacity: 1;
        }
    }

    .request-demo,
    .free-trial {
        text-align: left;
        padding-top: 6em;
        padding-bottom: 16px;
        background-color: #ffffff;

        .section-content {
            padding-top: 0;
            padding-bottom: 0;
            margin-left: 10%;
            margin-right: 10%;

            .title-content {
                margin: auto;

                h2 {
                    font-size: 48px;
                    margin-bottom: 32px;
                }
            }

            .text-content {
                margin: auto;
                width: auto;

                p {
                    font-size: 2.25em;
                }
            }
        }
    }

    .request-demo-form,
    .free-trial-form {
        text-align: left;
        background-color: #ffffff;

        padding-top: 96px;

        .title-content {
            margin: auto;
            width: 80%;

            h2 {
                font-size: 48px;
                margin-bottom: 32px;
            }
        }

        .text-content {
            margin: auto;
            width: auto;
            width: 80%;

            p {
                font-size: 2.25em;
            }
        }

        .section-content {
            padding-top: 0;
            padding-bottom: 0;
            .contact-form {
                margin: auto;
            }

            .form-success {
                // padding-bottom: 64px;
                padding-bottom: 48px;

                .title-content {
                    padding-bottom: 0;

                    h2 {
                        margin-bottom: 0;
                    }
                }
            }

            .form-fields {
                text-align: left;
                padding-bottom: 48px;

                .form-item-radio {
                    display: inline-block;
                    margin-bottom: 2em;
                    margin-left: 10%;
                }

                .form-content {
                    margin: 0;
                    margin-left: 10%;
                    margin-bottom: 4em;

                    .form-item {
                        width: 100%;
                        position: relative;
                        box-sizing: border-box;
                        padding-right: 11.11111%;
                        margin-bottom: 2em;

                        .underline {
                            margin-bottom: 0;
                        }

                        select {
                            margin-bottom: 2px;
                            opacity: 0.5;
                            font-family: 'Brandon Grotesque Regular';
                        }

                        input {
                            font-family: 'Brandon Grotesque Regular';
                        }

                        &.error:before {
                            position: absolute;
                            content: "Required";
                            right: 11.11111%;
                            color: red;
                            text-transform: uppercase;
                            font-size: 10px;
                            font-family: "Brandon Grotesque Bold";
                            letter-spacing: 1.2px;
                            bottom: -16px;
                            line-height: 16px;
                        }

                        &.message {
                            width: 100%;

                            textarea {
                                height: 32px;
                                line-height: 18px;
                                resize: vertical;
                                font-family: "Brandon Grotesque Regular";
                            }
                        }
                    }
                }
            }

            .button-content {
                text-align: center;
                margin-bottom: 16px;

                input {
                    margin: auto;
                    width: 63.33333%;
                    max-width: 304px;
                }
            }
        }
    }

    .request-demo-form {
        .form-fields {
            .title-content {
                h2 {
                    margin-bottom: 0;
                }
            }
        }
    }

    .support-page {
        padding-top: 105px;
        margin-bottom: 1.375em;
        overflow: hidden;

        .section-content {
            padding: 0;
        }

        .title-content {
            margin-bottom: 4.25em;

            h1 {
                // line-height: 70px;
                // margin-bottom: 16px;
                font-size: 36px;
            }

            h2 {
                font-size: 22px;
                line height: 1.5em;
                font-family: 'Brandon Grotesque Regular';
            }
        }

        .image-content {
            padding: 0;
            margin-bottom: 1.25em;
            overflow: visible;
            border-radius: 0;

            img {
                position: relative;
                max-width: 83.33333%;
                max-height: 66.75%;
            }
        }

        .text-content {
            margin-bottom: 0.625em;
            color: #4F4E5B;

            p {
                line-height: 1.5em;
                letter-spacing: -0.8px;
            }
        }

        .link-content {
            margin-bottom: 74px;

            a {
                letter-spacing: 3px;
                font-family: 'Brandon Grotesque Bold';
                font-size: 14px;
            }
        }
    }

    .clear {
        clear: both;
    }

    .nav-item-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        -webkit-transition: bottom .5s ease;
        -webkit-transition-delay: .4s;

        display: none;
    }

    .large-space {
        padding-top: 3em;
    }

    .small-space {
        margin-bottom: 1em;
    }

    .gradient {
        background: linear-gradient(180deg, #FFFFFF, #FAFAF7 66%);
    }

    .gray-background {
        background-color: #EEEEEB;
    }

    .label-content {
        margin-bottom: 1em;
    }

    .text-content {
        width: 86.666666%;
        margin: auto;
        margin-bottom: 2em;

        + .image-banner,
        + .image-ipad,
        + ul {
            margin-top: 3em;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .image-content {
        position: relative;
        padding-top: 100%;
        overflow: hidden;
        border-radius: 0.5em;
        margin: auto;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .button-content {
        a.button, button {
            &.itunes-button {
                margin: 0;
                padding: 0;
                width: auto;
                border: none;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .video-content {
        position: relative;
        padding-top: 100%;
        overflow: hidden;
        margin: auto;

        video {
            border-radius: 0.5em;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .background-content {
        position: absolute;
        background-position: 50%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .link-content {
        text-transform: uppercase;
        text-align: left;
        display: inline-block;

        a {
            position: relative;
            color: #2BA3E3;
            letter-spacing: 1.2px;
            text-decoration: none;

            &:hover {
                opacity: 0.4;
            }
        }
    }

    .logo-content {
        margin-bottom: 2em;

        img {
            max-width: 65%;
            width: auto;
            max-height: 96px;
            height: auto;
        }
    }

    .image-banner {
        position: relative;
        width: 100%;

        &:first-child {
            margin-bottom: 3em;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .three-up-button {
        display: inline-block;
        width: 100%;
        margin: 0 0 2em 0;

        &:last-child {
            margin-bottom: 3em;
        }

        .image-content {
            width: 66.66666%;
            padding-top: 50%;
            margin-bottom: 1em;
        }

        .link-content {
            width: 66.66666%;
            font-family: 'Brandon Grotesque Bold';
            position: relative;

            a {
                font-size: 0.875em;
            }

            div {
                position: absolute;
                width: 6px;
                border: 1px solid #2BA3E3;
                top: 7px;
                left: 168px;
                border-radius: 2px;

                &:first-of-type {
                    -webkit-transform: rotate(45deg) translateY(-3px);
                    -moz-transform: rotate(45deg) translateY(-3px);
                    -ms-transform: rotate(45deg) translateY(-3px);
                    -o-transform: rotate(45deg) translateY(-3px);
                    transform: rotate(45deg) translateY(-3px);
                }

                &:last-of-type {
                    -webkit-transform: rotate(-45deg) translateY(3px);
                    -moz-transform: rotate(-45deg) translateY(3px);
                    -ms-transform: rotate(-45deg) translateY(3px);
                    -o-transform: rotate(-45deg) translateY(3px);
                    transform: rotate(-45deg) translateY(3px);
                }
            }
        }
    }

    .three-up-text {
        .three-up-content {
            margin: 0 0 2em 0;

            .image-content,
            .video-content {
                width: 60%;
                padding-top: 60%;
            }

            + .text-content {
                margin-top: 1em;
            }
        }
    }

    .two-up-content {
        margin-bottom: 4em;

        &:last-child {
            margin-bottom: 0;
        }

        .image-content,
        .video-content {
            width: 60%;
            padding-top: 60%;
            margin-bottom: 2em;
        }
    }

    .image-ipad {
        position: relative;
        overflow: hidden;
        width: 88.95833333%;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }

        div,
        img {
            vertical-align: top;
        }

        img:not(.ipad-bg),
        video {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0px;
            width: 81.96721%;
            right: 0;
            bottom: 0;
            margin-left: 9.13349%;
            margin-top: 4.6838407%;
            height: 87.08609%;
        }

        // div.ipad-bg,
        img.ipad-bg {
            width: 100%;
        }

        &.overlap {
            margin-top: -16%;
        }
    }

    .video-ipad {
        position: relative;
        overflow: hidden;
        width: 88.95833333%;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 2em;
        z-index: 1;

        &:last-child {
            margin-bottom: 0;
        }

        video {
            vertical-align: top;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0px;
            width: 81.96721%;
            right: 0;
            bottom: 0;
            margin-left: 9.13349%;
            margin-top: 4.6838407%;
            height: 87.08609%;
        }

        img.ipad-bg {
            width: 100%;
        }

        &.overlap {
            margin-top: -16%;
        }
    }

    .image-ipad-iso {
        width: 100%;
        padding-top: 88.33333%;
        position: relative;

        img {
            height: 100%;
            width: auto;
            position: absolute;
            top: 0;
            left: -15.97458%;
        }
    }

    .image-ipad-hands {
        width: 100%;
        padding-top: 74.58333%;
        position: relative;

        img {
            position: absolute;
            margin: auto;
            top: 9.15%;
            left: 0;
            right: 0;
            width: 68%;
            height: 68.3%;

            &.hands {
                height: 100%;
                width: auto;
                top: 0;
                margin: 0;
                // left: -3.6%;
                left: -28.9%;
            }
        }
    }

    .video-ipad-hands {
        width: 100%;
        padding-top: 74.58333%;
        position: relative;

        img.hands {
            position: absolute;
            height: 100%;
            width: auto;
            top: 0;
            margin: 0;
            left: -28.9%;
        }

        video {
            position: absolute;
            margin: auto;
            top: 9.15%;
            left: 0;
            right: 0;
            width: 68%;
            height: 68.3%;
        }
    }

    .title-content {
        margin-bottom: 2em;
    }

    .spot-content {
        width: 36.66666%;
        margin-right: 5%;
        margin-left: 5%;
        display: inline-block;
        margin-bottom: 3em;
        vertical-align: top;

        .image-content {
            border-radius: 50%;
            margin-bottom: 1em;
            width: 90.90909%;
            padding-top: 90.90909%;
        }

        .text-content {
            width: 100%;
            margin-bottom: 1em;

            p {
                letter-spacing: 0;
            }
        }

        .link-content {
            font-size: 0.875em;
            text-align: center;
            font-family: 'Brandon Grotesque Bold';

            a {
                letter-spacing: 1.5px;
            }
        }
    }

    .logos {
        .section-content {
            max-width: none;
            overflow-x: scroll;

            .icon-slider {
                display: table;
                text-align: center;
                min-width: 100%;
                margin: 4em auto;

                .icon-row {
                    display: table-cell;
                    vertical-align: middle;
                    white-space: nowrap;
                    width: 100%;

                    .icon-content {
                        display: inline-block;
                        margin: 0 2em;

                        img {
                            height: 6em;
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    .hero {
        position: relative;
        background: linear-gradient(180deg, rgb(46, 138, 232), rgb(0, 224, 198) 70%, #91FBCC);
        background-position: 50%;
        background-size: cover;
        padding-top: 7.5625em;
        padding-bottom: 9.3125em;
        color: #ffffff;
        overflow: hidden;

        .section-content {
            position: relative;
            z-index: 1;
        }

        .title-content {
            margin: auto;
            margin-bottom: 1.375em;
            width: 86.66666%;

            h1 {
                line-height: 1.28571em;
            }
        }

        .text-content {
            width: 86.66666%;

            p {
                letter-spacing: 0;
            }
        }

        .background-video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            max-width: none;
            transform: translateX(-50%) translateY(-50%);
        }

        .background-scrim {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.1;
        }
    }

    .video-hero {
        padding-top: 7.5625em;
        padding-bottom: 4.8125em;
        color: #FAFAF7;
        position: relative;
        overflow: hidden;

        .section-content {
            position: relative;
        }

        .title-content {
            margin: 0 auto 1.375em;
            width: 86.66666%;

            h1 {
                font-size: 3.5em;
                line-height: 1.28571em;
                letter-spacing: -1.4px;
            }
        }

        .text-content {
            width: 86.66666%;

            p {
                font-size: 2em;
                line-height: 1.375em;
                letter-spacing: -0.8px;
            }
        }

        .button-content {
            button {
                background-color: rgba(255, 255, 255, 0.6);
                color: #4F4E5B;
                letter-spacing: 2px;
                box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
                border-radius: 24px;
                border-width: 0px;
                padding: 0.85714em 1.28571em;
                margin: 0;
                width: auto;

                &:hover {
                    opacity: 0.4;
                }

                .play {
                    display: inline-block;
                    background-image: url('assets/icon_play_lg@2x.png');
                    background-position: center;
                    background-size: 200%;
                    margin-right: 0.57143em;
                    margin-bottom: -1.5px;
                    height: 12px;
                    width: 9px;
                }
            }
        }

        .video-player {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            box-sizing: border-box;
            padding-bottom: 3.35em;
            background-image: linear-gradient(rgba(244, 244, 244, 1), rgba(255, 255, 255, 1));
            z-index: 16000003;
            -webkit-transition: height 1.0s cubic-bezier(.12,1,.28,1);
            -moz-transition: height 1.0s cubic-bezier(.12,1,.28,1);
            -o-transition: height 1.0s cubic-bezier(.12,1,.28,1);

            &.open {
                display: block;
            }

            .video-header {
                height: 3.35em;
                text-align: left;
                padding-left: 1em;

                &:before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                }

                .close-button {
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    width: 25px;
                    height: 25px;

                    :first-child,
                    :nth-child(2) {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 25px;
                        border: 1px solid #2EA1E8;
                    }

                    :first-child {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                    :nth-child(2) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
            }

            .video-content {
                position: relative;
                height: calc(100% - 6.7em);
                padding: 0;

                video {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 0px;
                }
            }
        }

        .background-image img,
        .background-video video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            max-width: none;
            transform: translateX(-50%) translateY(-50%);
        }

        .background-scrim {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.3;
        }
    }

    .cta {
        padding-top: 7em;
        padding-bottom: 7em;
        background: linear-gradient(45deg, rgb(46, 138, 232), rgb(0, 224, 198) 70%, #91FBCC);

        .section-content {
            padding-bottom: 0;
        }

        .icon-content {
            margin-bottom: 1em;

            img {
                height: 96px;
                width: auto;
            }
        }

        .text-content {
            color: #ffffff;
        }
        .button-content {
            max-width: 320px;
            margin: auto;

            a.button, button {
                color: #ffffff;
                border-color: #ffffff;
                margin-bottom: 0;
                width: 100%;

                &.itunes-button {
                    margin: 0;
                    padding: 0;
                    width: auto;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .agency-cta {

        .section-content {
            padding-top: 6em;
            padding-bottom: 6em;
            background-position: 50%;
            background-size: cover;
            background-repeat: no-repeat;

            .icon-content {
                margin-bottom: 3em;

                img {
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }
            }

            .text-content {
                width: 86.66666%;
                margin-bottom: 3em;
                color: #ffffff;
                p {
                    font-size: 2.25em;
                    line-height: 1.33333em;
                }
            }

            .button-content {
                a.button, button {
                    color: #ffffff;
                    border-color: #ffffff;
                    margin-bottom: 0;
                    width: 80%;
                }
            }
        }
    }

    .logo-label-text-app-store {
        background: #eeeeeb;
    }

    .funnel {
        .funnel-content {
            padding-top: 83px;
            padding-bottom: 6em;
            position: relative;
            overflow: hidden;

            * {
                z-index: 12;
                position: relative;
            }

            .background-content {
                position: absolute;
                z-index: 10;
            }

            .text-content {
                width: 80%;

                &:first-child {
                    margin-bottom: 1em;
                }
            }

            .button-content {
                a.button, button {
                    margin: 0;
                }
            }
        }
    }

    .logo {
        background-color: #EDEDEB;
    }

    .press {
        padding-top: 6em;

        .section-content {
            padding-bottom: 0;

            .title-content {
                text-align: left;
                width: 83.33333%;
                margin: auto;
                margin-bottom: 3em;

                h1 {
                    font-size: 3em;
                    line-height: 1em;
                }
            }

            .press-content {
                text-align: left;
                width: 83.33333%;
                margin: auto;
                margin-bottom: 3em;

                &:last-of-type {
                    margin-bottom: 0em;
                }

                &:last-child {
                    margin-bottom: 8em;
                }

                .link-content {
                    width: 100%;
                    margin-bottom: 0.625em;
                    text-transform: none;

                    a {
                        font-size: 2em;
                        line-height: 1.375em;
                        letter-spacing: -0.8px;
                    }
                }

                .label-content {
                    margin-bottom: 0;

                    label {
                        font-family: 'Brandon Grotesque Medium';
                        letter-spacing: 1.5px;
                    }
                }
            }

            ul.page-numbers {
                list-style-type: none;
                margin: 3em 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin-right: 2.24571em;
                    font-size: 0.875em;
                    letter-spacing: 1.5px;
                    font-family: 'Brandon Grotesque Bold';
                    line-height: 1.71428em;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .post-not-found {
                width: 83.33333%;
                margin-bottom: 3em;
                text-align: left;
            }
        }
    }

    .blog {
        padding-top: 6em;

        .section-content {
            padding-bottom: 0;

            .title-content {
                text-align: left;
                width: 83.33333%;
                margin: 0 auto 3em;

                h1 {
                    font-size: 3em;
                    line-height: 1em;
                }
            }

            .blog-content {
                text-align: left;
                width: 83.33333%;
                margin: 0 auto 6em;

                &:last-of-type {
                    margin-bottom: 0em;
                }

                &:last-child {
                    margin-bottom: 8em;
                }

                .post-thumbnail {
                    max-height: 14.25em;
                    border-radius: 0.5em;
                    overflow: hidden;
                    margin-bottom: 2em;

                    img {
                        display: block;
                        margin: 0 auto;
                        max-width: 100%;
                        height: auto;
                        cursor: pointer;
                    }
                }

                .label-content {
                    label {
                        font-family: 'Brandon Grotesque Medium';
                        letter-spacing: 3px;
                        opacity: 0.5;
                        cursor: pointer;
                    }
                }

                .title-content {
                    width: 100%;
                    margin-bottom: 0.5em;

                    h1 {
                        font-size: 2.25em;
                        font-family: 'Brandon Grotesque Regular';
                        letter-spacing: -0.9px;
                        line-height: 1.33334em;
                        cursor: pointer;
                    }
                }

                .text-content {
                    width: 100%;
                    margin-bottom: 1em;
                    cursor: pointer;

                    p {
                        font-size: 1.5em;
                        letter-spacing: -0.3px;
                        line-height: 1.33334em;
                    }
                }

                .link-content {

                    a {
                        font-size: 0.875em;
                        font-family: 'Brandon Grotesque Bold';
                        letter-spacing: 1.5px;
                        line-height: 1.71428em;
                    }

                    .arrow {
                        display: inline-block;
                        width: 7px;
                        height: 11px;
                        box-sizing: border-box;
                        padding: 3.5px 0;

                        div {
                            border: 1px solid #2BA3E3;

                            &:first-of-type {
                                -webkit-transform: rotate(45deg) translateY(-2px);
                                -moz-transform: rotate(45deg) translateY(-2px);
                                -ms-transform: rotate(45deg) translateY(-2px);
                                -o-transform: rotate(45deg) translateY(-2px);
                                transform: rotate(45deg) translateY(-2px);
                            }

                            &:last-of-type {
                                -webkit-transform: rotate(-45deg) translateY(2px);
                                -moz-transform: rotate(-45deg) translateY(2px);
                                -ms-transform: rotate(-45deg) translateY(2px);
                                -o-transform: rotate(-45deg) translateY(2px);
                                transform: rotate(-45deg) translateY(2px);
                            }
                        }
                    }
                }
            }

            ul.page-numbers {
                list-style-type: none;
                margin: 3em 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin-right: 2.24571em;
                    font-size: 0.875em;
                    letter-spacing: 1.5px;
                    font-family: 'Brandon Grotesque Bold';
                    line-height: 1.71428em;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .post-not-found {
                width: 83.33333%;
                margin-bottom: 3em;
                text-align: left;
            }
        }
    }

    .blog-single {
        padding-top: 6em;

        .section-content {
            padding-bottom: 0;

            .blog-content {
                text-align: left;
                width: 83.33333%;
                margin: 0 auto;

                .label-content {
                    margin-bottom: 0.5em;

                    label {
                        font-family: 'Brandon Grotesque Medium';
                        letter-spacing: 3px;
                        opacity: 0.5;
                    }
                }

                .title-content {
                    width: 100%;
                    margin-bottom: 3em;

                    h1 {
                        font-size: 2.25em;
                        font-family: 'Brandon Grotesque Regular';
                        letter-spacing: -0.9px;
                        line-height: 1.33334em;
                    }
                }

                .text-content {
                    width: 100%;

                    p, ul, h1, h2, h3, h4, h5, h6 {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    h1, h2, h3, h4, h5, h6 {
                        font-size: 0.875em;
                        font-family: 'Brandon Grotesque Black';
                        line-height: 1.14286em;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        margin-bottom: 1.14286em;
                    }

                    img {
                        display: block;
                        margin: 0 auto;
                        max-width: 100%;
                        height: auto;
                    }

                    p, li {
                        font-size: 1.5em;
                        letter-spacing: -0.3px;
                        line-height: 1.33334em;
                    }

                    p, ul {
                        margin-bottom: 2em;
                    }

                    li {
                        list-style-position: inside;
                    }

                    strong {
                        font-family: 'Brandon Grotesque Medium';
                    }
                }

                .back-button {
                    display: block;
                    margin: 3em 0 4em;

                    .back-arrow {
                        display: inline-block;
                        background: url('assets/images/back-arrow.png');
                        margin-right: 0.57143em;
                        width: 0.95714em;
                        height: 0.95714em;
                    }

                    a {
                        font-size: 0.875em;
                        font-family: 'Brandon Grotesque Bold';
                        line-height: 1.14286em;
                        letter-spacing: 0.10714em;
                    }
                }
            }
        }
    }

    .careers {
        padding-top: 6em;
        text-align: left;

        .section-content {
            padding-bottom: 0;

            .title-content {
                width: 83.33333%;
                margin: 0 auto 3em;

                h1 {
                    font-size: 3em;
                    line-height: 1em;
                }
            }
        }
    }

    .news {
        background: #EDEDEB;
        padding-top: 3em;
        padding-bottom: 6em;
        text-align: left;
        margin-right: 13.33333%;

        .label-content {
            margin-left: 10%;
            margin-right: 13.33333%;
            margin-bottom: 2em;
        }

        .text-content {
            width: auto;
            margin-bottom: 1em;
            margin-left: 10%;
            margin-right: 13.33333%;
        }

        .button-content {
            margin-left: 10%;
            margin-bottom: 4em;

            a.button, button {
                width: 160px;
                padding: 0.57143em 0;
                margin: 0;
                text-align: center;
            }
        }

        .form-content {
            input {
                padding-right: 16px;
                box-sizing: border-box;
                box-shadow: none;
                font-size: 0.75em;
            }
        }
    }

    .image-ipad {
        .option-image {
            display: none;
        }
    }

    .option-nav {
        margin: auto;
        margin-bottom: 2.5em;
        // overflow-x: scroll;
        // white-space: nowrap;

        .link-content {
            // margin: 0 40px;
            margin: auto;
            display: table;
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-size: 0.875em;
                letter-spacing: 3px;
                font-family: 'Brandon Grotesque Black';

                &.active:after {
                    content: '';
                    border: 1px solid #2BA3E3;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    box-sizing: border-box;
                }

                &:hover {
                    +.underline {
                        opacity: 0.4;
                    }
                }
            }

            // .underline {
            //     visibility: hidden;
            //     border-color: #2BA3E3;
            //     position: relative;
            //     opacity: 1;
            //     box-sizing: border-box;
            // }
        }

    }

    .image-3up-text, .image-2up-label-text {
        .section-content {
            padding-top: 2em;
        }
    }

    .quote {
        .section-content {
            padding: 6em 0 7em;
        }

        .quote-text {
            margin: 0 auto 2em;
            width: 86.66666%;

            h3 {
                font-family: 'Brandon Grotesque Black';
                font-size: 1.5em;
                line-height: 2em;
                letter-spacing: 1.5px;
            }
        }

        .author-text {
            margin: 0 auto;
            width: 86.66666%;

            h5 {
                font-family: 'Brandon Grotesque Bold';
                font-size: 0.875em;
                line-height: 1.14286em;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }

    .underline {
        width: 100%;
        border: 1px solid rgba(79, 78, 92, 0.50);
        border-radius: 2px;
        opacity: 0.5;
    }

    .form-content {
        position: relative;
        margin-left: 10%;
        margin-right: 10%;

        textarea,
        input {
            background: none;
            border: none;
            width: 100%;
            margin-bottom: 0.28571em;
            padding: 0;
            outline: none;
            font-size: 0.875em;
            line-height: 1.14286em;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-family: 'Brandon Grotesque Medium';
        }

        .input-submit {
            position: relative;

            input {
                padding-right: 16px;
                box-sizing: border-box;
            }
        }

        .submit {
            height: 16px;
            width: 16px;
            background: url('assets/arrow-submit.png');
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }

        .underline {

            &:first-of-type {
                margin-bottom: 2em;
            }

            &:last-of-type {
                margin-bottom: 0.5em;
            }
        }

        .text-content {
            margin-left: 0;
            margin-right: 0;

            p {
                font-size: 1.25em;
            }
        }

        .link-content {
            a {
                font-size: 0.625em;
            }
        }
    }

    .social-icon {
        text-align: justify;
        margin-bottom: 2em;
        height: 20px;

        .stretch {
            width: 100%;
            display: inline-block;
            font-size: 0;
            line-height: 0;
        }

        a {
            width: 20px;
            height: 20px;
            position: relative;
            display: inline-block;
            // margin-left: 12.5%;

            span {
                background-repeat: no-repeat;
                background-position: 50%;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                opacity: 0.4;
            }

            &:active {
                opacity: 1;
            }
        }

        .icon-facebook {
            background-image: url('assets/social/Facebook-color.svg');
        }
        .icon-twitter {
            background-image: url('assets/social/Twitter-color.svg');
        }
        .icon-pinterest {
            background-image: url('assets/social/Pinterest-social.svg');
        }
        .icon-instagram {
            background-image: url('assets/social/Instagram-color.svg');
        }
        .icon-linkedin {
            background-image: url('assets/social/LinkedIn-color.svg');
        }
        .icon-youtube {
            background-image: url('assets/social/Youtube-color.svg');
        }
    }

    .article-page {
        padding-top: 6em;
        margin-bottom: 2em;

        .title-content {
            text-align: left;
            width: 80%;
            margin: auto;
            margin-bottom: 2em;

            h2 {
                font-size: 2em;
                line-height: 1.375em;
                margin-bottom: 1em;
                font-family: 'Brandon Grotesque Regular';
                letter-spacing: -0.8px;
            }

            h3 {
                font-weight: bold;
            }
        }

        .label-content {
            text-align: left;
            width: 80%;
            margin: auto;
            margin-bottom: 1em;

            label {
                font-family: 'Brandon Grotesque Medium';
            }
        }

        .text-content {
            text-align: left;
            width: 80%;
            margin-bottom: 3em;

            &:last-child {
                margin-bottom: 0;
            }

            h3 {
                font-family: 'Brandon Grotesque Black';
                font-weight: bold;
                margin: 1.14286em 0;
                letter-spacing: 3px;
            }

            label {
                line-height: 1.71429em;
            }

            ul, ol {
                list-style: initial;
            }

            li {
                list-style-position: inside;
            }

            li, p {
                font-size: 1.25em;
                margin: 0.4em 0;
                letter-spacing: -0.2px;
                line-height: 1.6em;
            }

            strong {
                font-family: 'Brandon Grotesque Medium';
                font-weight: bold;
                font-style: italic;
            }
        }
    }

    .not-found {
        background: url('assets/images/blurJoshWall.jpg');
        padding-top: 35.20833%;
        padding-bottom: 31.04267%;
        color: #ffffff;
        background-position: 50%;
        background-size: cover;

        .title-content {
            margin-bottom: 0.875em;

            h1 {
                font-size: 8em;
                line-height: 1em;
                font-family: 'Brandon Grotesque Black';
            }
        }

        .text-content {
            width: 86.66666%;

            p {
                letter-spacing: -0.8px;
            }
        }
    }

    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }

    @media (min-width: 340px) {
        .support-page {
            .title-content {
                margin-bottom: 4.25em;

                h1 {
                    font-size: 48px;
                }

                h2 {
                    font-size: 2em;
                }
            }
        }
    }

    @media (min-width: 375px) {
        a.button, button, input[type=submit] {
            width: 320px;
        }

        .news {
            .form-content {
                input {
                    font-size: 0.875em;
                }
            }
        }

        .agency-cta {
            .section-content {
                .icon-content {
                    img {
                        max-width: 391px;
                    }
                }
            }
        }
    }

    @media (min-width: 481px) {

        .main-content {
            // margin-top: 4em;
        }

        .large-space {
            padding-top: 4em;
        }

        .small-space {
            margin-bottom: 2em;
        }

        section {
            .section-content {
                padding-bottom: 6em;
            }
        }

        .request-demo,
        .free-trial {
            padding-top: 128px;
            padding-bottom: 24px;

            .section-content {
                margin: auto;

                .title-content {
                    margin-left: 8.33333%;
                    margin-right: 8.33333%;
                }

                .text-content {
                    margin-left: 8.33333%;
                    margin-right: 8.33333%;

                    p {
                        font-size: 2.25em;
                    }
                }
            }
        }

        .request-demo-form,
        .free-trial-form {
            padding-top: 128px;

            .title-content {
                // padding-bottom: 24px;
                margin-left: 8.33333%;
                margin-right: 8.33333%;
            }

            .text-content {
                margin-left: 8.33333%;
                margin-right: 8.33333%;

                p {
                    font-size: 2.25em;
                }
            }

            .section-content {
                .form-fields {
                    // padding-bottom: 72px;

                    .form-item-radio {
                        display: inline-block;
                        margin-bottom: 2em;
                        margin-left: 8.33333%;
                    }

                    .form-content {
                        margin: 0;
                        margin-bottom: 32px;
                        text-align: center;

                        .form-item {
                            width: 38.28125%;
                            margin-right: 3.41794%;
                            padding: 0;
                            display: inline-block;
                            margin-left: 3.41794%;

                            select {
                                margin-bottom: 2px;
                                opacity: 0.5;
                            }

                            &.error:before {
                                right: 0;
                            }

                            &.message {
                                width: 83.59375%;

                                textarea {
                                    height: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .text-content {
            width: 87.5%;
            margin-bottom: 3em;

            h2 {
                font-size: 3em;
                letter-spacing: 0;
                line-height: 1.33334em;
                &.header3 {
                    font-size: 36px;
                    letter-spacing: normal;
                    line-height: 48.0002px;
                }
            }

            p {
                font-size: 2.25em;
                letter-spacing: 0;
                line-height: 1.33334em;
            }
        }

        .funnel {

            .funnel-content {
                padding-top: 88px;
                padding-bottom: 7em;

                .text-content {
                    width: 83.33333%;
                    margin-bottom: 1em;

                    + .button-content {
                        margin-top: 2em;
                    }
                }
            }
        }

        .image-ipad-hands {
            // padding-top: 70.18229%;

            img {
                left: 0;
            }
        }

        .three-up-button {
            display: inline-block;
            width: 41.66667%;
            margin-left: 1em;
            margin-right: 1em;

            .image-content {
                width: 100%;
                padding-top: 75%;
            }

            .link-content {
                width: 100%;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .three-up-text {
            .three-up-content {
                width: 37.5%;
                margin-left: 1em;
                margin-right: 1em;
                display: inline-block;

                .image-content,
                .video-content {
                    width: 100%;
                    padding-top: 100%;
                }
            }
        }

        .two-up-content {
            margin-bottom: 5em;

            .image-content,
            .video-content {
                width: 62.5%;
                padding-top: 62.5%;
            }

            .text-content {
                width: 70.83333%;
            }
        }

        .logo-content {
            img {
                max-width: 50%;
            }
        }

        .ipad-iso {
            .label-content {
                margin-bottom: 2em;
            }

            .text-content {
                width: 70.83333%;
                margin-bottom: 2em;
            }
        }

        .image-ipad-iso {
            padding-top: 78.125%;

            img {
                left: -8.5%
            }
        }

        .video-ipad,
        .image-ipad {
            width: 82.29167%;
            margin-bottom: 3em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .image-3up-text, .image-2up-label-text {
            .section-content {
                padding-top: 3em;
            }
        }

        .quote {
            .quote-text,
            .author-text {
                width: 83.33333%;
            }

            .quote-text h3 {
                font-size: 2em;
                line-height: 1.75em;
                letter-spacing: 2px;
            }
        }

        .title-content {
            margin-bottom: 3em;
        }

        .spot-content {
            width: 25%;
            margin-right: 2.08333%;
            margin-left: 2.08333%;
            display: inline-block;
            margin-bottom: 3em;

            .image-content {
                margin-bottom: 1.5em;
                width: 83.33333%;
                padding-top: 83.33333%;
            }

            .text-content {
                p {
                    letter-spacing: 0;
                    font-size: 2em;
                    line-height: 1.25em;
                }
            }
        }

        .hero {
            padding-top: 12em;
            padding-bottom: 17.6875em;

            .title-content {
                width: 87.5%;
                margin-bottom: 3.3125em;

                h1 {
                    font-size: 4.5em;
                    line-height: 1.33333em;
                }
            }

            .text-content {
                width: 87.5%;
            }
        }

        .video-hero {
            padding-top: 12em;
            padding-bottom: 13.1875em;

            .title-content {
                width: 87.5%;
                margin-bottom: 3.3125em;

                h1 {
                    font-size: 4.5em;
                    line-height: 1.33333em;
                    letter-spacing: -1.8px;
                }
            }

            .text-content {
                width: 87.5%;

                p {
                    font-size: 2.25em;
                    line-height: 1.33333em;
                    letter-spacing: -0.9px;
                }
            }
        }

        .press {
            padding-top: 8em;

            .press-content {
                .link-content {
                    a {
                        font-size: 2.25em;
                        line-height: 1.33334em;
                    }
                }
            }
        }

        .blog {
            padding-top: 8em;
        }

        .blog-single {
            padding-top: 8em;
        }

        .careers {
            padding-top: 8em;

            .section-content {
                .listing-title {
                    button {
                        width: 304px;
                    }
                }
            }
        }

        .news {
            padding-top: 4em;

            .section-content > * {
                margin-left: 8.33334%;
                margin-right: 8.33334%;
            }

            .form-content {
                .text-content {
                    margin-right: 1em;
                }
            }
        }

        .cta {
            .text-content {
                margin-bottom: 2em;

                h2 {
                    font-size: 36px;
                    line-height: 48.0002px;
                }
            }
        }

        .agency-cta {
            .section-content {
                .icon-content {
                    img {
                        // height: 4em;
                    }
                }

                .text-content {
                    width: 76.04166%;
                    margin-bottom: 4em;
                }

                .button-content {
                    a.button, button {
                        width: 384px;
                    }
                }
            }
        }

        .not-found {
            padding-top: 31.25%;
            padding-bottom: 36.84896%;

            .title-content {
                h1 {
                    font-size: 12em;
                }
            }

            .text-content {
                width: 87.5%;
            }
        }
    }

    @media (min-width: 501px) {
        .article-page {
            padding-top: 8em;
            margin-bottom: 1em;

            .title-content {
                width: 83.33333%;
                position: relative;
                margin-bottom: 3em;

                h2 {
                    margin-bottom: 0;
                    font-size: 2.25em;
                    line-height: 1.33333em;
                }

                h3 {
                    position: absolute;
                    line-height: 3.42857em;
                    right: 0;
                    top: 0;
                }
            }

            .label-content {
                width: 83.33333%;
            }

            .text-content {
                width: 83.33333%;

                label {
                    line-height: 1.14256em;
                }
            }
        }
    }

    @media (min-width: 571px) {
        section.support-page {
            padding-top: 152px;

            .section-content {
                max-width: 1024px;
            }

            .title-content {
                h1 {
                    font-size: 72px;
                    line-height: 1.33333em;
                }

                h2 {
                    font-size: 2.25em;
                    line-height: 1.33333em;
                }
            }

            .support-funnel {
                position: relative;
                display: table-cell;
                width: 50%;

                .text-content {
                    p {
                        line-height: 1.33333em;
                        letter-spacing: -0.9px;
                    }
                }

                .image-content {
                    img {
                        max-width: 103.8981%;
                        left: -15.07161%;
                        max-height: none;
                    }
                }

                &:last-child {
                    img {
                        left: 8.07292%;
                    }
                }
            }
        }
    }

    @media (min-width: 600px) {
        .option-nav {
            // margin: auto;
            // margin-bottom: 1em;
            // overflow-x: scroll;
            // white-space: nowrap;

            .link-content {
                margin: 0 5%;
                // margin: auto;
                display: inline-block;
                // margin-bottom: 1em;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @media (min-width: 769px) {
        .large-space {
            padding-top: 6em;
        }

        .small-space {
            margin-bottom: 3em;
        }

        section {
            .section-content {
                position: relative;
                max-width: 1024px;
                margin: auto;
                padding-bottom: 7em;
            }
        }

        .request-demo,
        .free-trial {
            padding-top: 164px;
            padding-bottom: 40px;

            .section-content {
                .title-content {
                    margin-left: 6.25%;
                    margin-right: 6.25%;
                }

                .text-content {
                    margin-left: 6.25%;
                    margin-right: 6.25%;

                    p {
                        font-size: 2.25em;
                    }
                }
            }
        }

        .request-demo-form,
        .free-trial-form {
            padding-top: 164px;

            .section-content {
                .title-content {
                    padding-bottom: 0;
                    margin-left: 6.25%;
                    margin-right: 6.25%;
                }

                .text-content {
                    margin-left: 6.25%;
                    margin-right: 6.25%;

                    p {
                        font-size: 2.25em;
                    }
                }

                .form-fields {
                    padding-bottom: 72px;

                    .form-item-radio {
                        display: inline-block;
                        margin-bottom: 2em;
                        margin-left: 6.25%;
                    }

                    .form-content {
                        margin: 0;
                        margin-bottom: 32px;
                        text-align: center;

                        .form-item {
                            width: 40.09766%;
                            margin-right: 3.41794%;
                            padding: 0;
                            display: inline-block;
                            margin-left: 3.41794%;

                            select {
                                margin-bottom: 2px;
                                opacity: 0.5;
                            }

                            &.message {
                                width: 87.41211%;

                                textarea {
                                    height: 16px;
                                }
                            }
                        }
                    }

                    .title-content {
                        width: auto;
                    }
                }

                .button-content {
                    margin-bottom: -16px;
                }
            }
        }

        .text-content {
            width: 79.6875%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .image-ipad-hands {
            padding-top: 64.9898%;

            img {
                width: 59.1%;

                &.hands {
                    left: -18.8%;
                }
            }
        }

        .video-ipad-hands {
            padding-top: 64.9898%;

            img.hands {
                left: -18.8%;
            }

            video {
                width: 59.1%;
            }
        }

        .funnel {
            width: 100%;

            .section-content {
                display: table;
                table-layout: fixed;
                width: 100%;
                max-width: none;

                .funnel-content {
                    display: table-cell;
                }
            }
        }

        .three-up-button {
            width: 28.125%;
            margin-bottom: 0;
        }

        .three-up-text {
            .section-content {
                white-space: nowrap;

                .three-up-content {
                    width: 28.125%;
                }

                .text-content {
                    white-space: normal;
                }
            }
        }

        .quote {
            .section-content {
                padding-bottom: 6em;
            }

            .quote-text,
            .author-text {
                width: 87.5%;
            }
        }

        .two-up-content {
            width: 42.1875%;
            // float: left;
            display: inline-block;
            margin-right: 3.125%;
            margin-left: 3.125%;
            margin-bottom: 0;

            .image-content,
            .video-content {
                width: 100%;
                padding-top: 100%;
            }

            .label-content,
            .text-content {
                width: 100%;
            }

            // &:first-child {
            //     margin-left: 4.6875%;
            // }

            // &:last-child {
            //     margin-right: 4.6875%;
            // }
        }

        .logo-content {
            margin-bottom: 3em;

            img {
                max-width: 46.875%;
            }
        }

        .video-ipad,
        .image-ipad {
            width: 75%;
        }

        .spot-content {
            width: 25%;
            margin-right: 3.125%;
            margin-left: 3.125%;
            display: inline-block;
            margin-bottom: 3em;


            .image-content {
                border-radius: 50%;
                margin-bottom: 1.5em;
                width: 100%;
                padding-top: 100%;
            }
        }

        .press {
            .section-content {
                .title-content {
                    width: 85.9375%;
                }

                .press-content {
                    width: 85.9375%;
                }

                .post-not-found {
                    width: 85.9375%;
                }
            }
        }

        .blog, .blog-single {
            .section-content {
                .title-content,
                .blog-content,
                .post-not-found {
                    width: 90.625%;
                }
            }
        }

        .careers {
            .section-content {
                .title-content,
                .job-category,
                .job-listing {
                    width: 90.625%;
                }
            }
        }

        .news {
            padding-top: 6em;
            padding-bottom: 7em;

            .section-content > * {
                margin-left: 6.25%;
                margin-right: 6.25%;
            }

            .text-content {
                width: 68.75%;
                display: inline-block;
                margin-right: 0;
                margin-bottom: 3em;
            }

            .button-content {
                width: 18.29%;
                margin-left: 0;
                vertical-align: top;
                display: inline-block;
                position: relative;
                top: 9px;

                a.button, button {
                    display: block;
                    margin-right: -1.5px;
                    margin-left: auto;
                }
            }

            .form-content {
                .text-content {
                    width: auto;
                }
            }
        }

        .agency-cta {
            .section-content {
                max-width: 100%;
                width: 100%;

                .text-content {
                    width: 584px;
                }
            }
        }

        .hero {
            padding-top: 14em;
            padding-bottom: 18.6875em;

            .title-content,
            .text-content {
                width: 79.6875%;
            }
        }

        .video-hero {
            padding-top: 14em;
            padding-bottom: 13.1875em;

            .title-content,
            .text-content {
                width: 79.6875%;
            }
        }

        .article-page {
            margin-bottom: 0;

            .title-content {
                width: 85.9375%;
            }

            .label-content {
                width: 85.9375%;
            }

            .text-content {
                width: 85.9375%;
            }
        }

        .not-found {
            padding-top: 14.63542%;
            padding-bottom: 19.63542%;

            .title-content {
                h1 {
                    font-size: 16em;
                }
            }

            .text-content {
                width: 79.6875%;
            }
        }
    }

    @media (min-width: 880px) {
        .cta {
            padding: 0;

            .section-content {
                height: 18em;
                display: flex;
                align-items: center;
            }

            .icon-content {
                margin: 0 2em 0 4em;
            }

            .text-content {
                flex-grow: 1;
                margin: 0;
                text-align: left;

                h2 {
                    text-align: left;
                }
            }

            .button-content {
                margin: 0 4em 0 2em;

                a.button, button {
                    width: 320px;
                }
            }
        }

        .careers {
            .listing-title {
                position: relative;
                padding-right: 279px;

                button {
                    position: absolute;
                    top: 0;
                    right: -1.78571em;
                }
            }
        }
    }

    @media (min-width: 975px) {
        .ipad-iso {
            .image-ipad-iso {
                padding-top: 80.47027%;

                img {
                    height: 72.81742%;
                    top: 13.59224%;
                    left: -22.09625%;
                }
            }

            .label-content {
                position: absolute;
                width: 189px;
                top: 0;
                left: 75%;
                margin-left: -94.5px;
            }

            .text-content {
                position: absolute;
                left: 75%;
                top: 3em;
                width: 416px;
                margin-left: -208px;
            }

            .button-content {
                position: absolute;
                left: 75%;
                top: 17em;
                margin-left: -160px;
            }
        }
    }

    @media (min-width: 1025px) {
        .video-hero {
            padding-top: 18.5em;
            padding-bottom: 20.75em;

            .title-content,
            .text-content {
                width: 84.375%;
            }
        }

        .quote {
            .quote-text,
            .author-text {
                width: 100%;
            }
        }
    }

    @media (min-width: 1400px) {
        section.support-page {
            padding-top: 204px;

            .support-funnel {
                right: 142px;

                .image-content {

                    img {
                        width: auto;
                        max-width: 110.91579%;
                        height: auto;
                        left: 50%;
                        -webkit-transform: translate(-50%, 0);
                        -moz-transform: translate(-50%, 0);
                        -ms-transform: translate(-50%, 0);
                        -o-transform: translate(-50%, 0);
                        transform: translate(-50%, 0);
                    }
                }

                &:last-child {
                    left: 142px;
                }
            }
        }
    }
}
