.realestate-header {
    position:   fixed;
    width:      100%;
    height:     44px;
    z-index:    15;
    transition: background 0.75s ease-in-out;
}

.realestate-header__content {
    height:          100%;
    padding:         0 6px;
    display:         flex;
    justify-content: space-between;
}

.realestate-logo {
    display:         flex;
    align-items:     center;
    text-decoration: none;
}

.realestate-logo__icon {
    width:        32px;
    height:       32px;
    margin-right: 10px;
}

.realestate-logo__title {
    font-family:    'Brandon Grotesque Regular';
    font-size:      22px;
    color:          @light-grey;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    &--large {
        display: none;
    }
}

.realestate-nav {
    display:     flex;
    align-items: center;
}

.realestate-nav__item {
    padding: 8px 22px;

    &:not(:last-child) {
        display: none;
    }

    &--boxed {
        border:        solid 1px @light-grey;
        border-radius: 2px;
    }
}

.realestate-nav__link {
    font-family:     'Brandon Grotesque Bold';
    font-size:       13px;
    line-height:     16px;
    color:           white;
    text-transform:  uppercase;
    text-decoration: none;
    letter-spacing:  3.4px;
    white-space:     nowrap;
}

@media (min-width: 768px) {
    .realestate-header {
        height: 64px;
    }

    .realestate-header__content {
        padding: 0 16px;
    }

    .realestate-logo__icon {
        width:        40px;
        height:       40px;
        margin-right: 16px;
    }

    .realestate-logo__title {
        &--small {
            display: none;
        }

        &--large {
            display: block;
        }
    }

    .realestate-nav__item {
        &:not(:first-child) {
            margin-left: 2px;
        }

        &:not(:last-child) {
            display: block;
        }
    }
}

@media (min-width: 1024px) {
    .realestate-header__content {
        max-width: 1024px;
        margin:    0 auto;
    }
}
