.header {
    position:   fixed;
    height:     64px;
    width:      100%;
    display:    flex;
    z-index:    15;
    transition: background 0.75s ease-in-out,
                height 0.5s ease-in-out;
}

.header--dark {
    background: #393842;
}

.header__content {
    display:         flex;
    width:           100%;
    height:          64px;
    align-items:     center;
    justify-content: space-between;
    padding:         0 16px;
}

.header__logo {
    display:         flex;
    align-items:     center;
    text-decoration: none;
    cursor:          pointer;
}

.header-logo__icon {
    height: 40px;
    width:  40px;
}

.header-logo__icon-classic {
    width: 224px;
    height: auto;
}

.header-logo__text {
    font-family:     Brandon Grotesque Bold, helvetica, sans-serif;
    font-size:       23px;
    text-transform:  uppercase;
    letter-spacing:  3px;
    color:           #fff;
    padding-left:    16px;
}

.header__nav {
    visibility: hidden;
    width:      0;
}

.header-nav__menu {
    display:          flex;
    opacity:          0;
    transition:       opacity 0.5s ease-in-out;
    transition-delay: 0.2s;

    li {
        margin:        0 48px;
        padding:       24px 0;
        border-bottom: solid 1px white;
        z-index:       5;

        a {
            font-family:     Brandon Grotesque Bold, helvetica, sans-serif;
            font-size:       17px;
            text-transform:  uppercase;
            letter-spacing:  4.2px;
            color:           #fff;
            text-decoration: none;

            &:hover {
                opacity: 0.4;
            }
        }
    }

    li:last-child {
        border-bottom: none;
    }
}

.header__menu {
    height: 100%;
    width:  24px;
    cursor: pointer;

    div {
        width:         24px;
        border:        1px solid #fff;
        height:        0;
        border-radius: 2px;
        position:      absolute;
        transition:    0.3s ease-in-out;

        &:first-child {
            top: 28px;
        }

        &:nth-child(2) {
            top: 34px;
        }
    }
}

.header--open {
    height: 100%;

    .header__menu {
        div {
            &:first-child {
                transform: rotate(45deg) translateY(4px);
            }

            &:nth-child(2) {
                transform: rotate(-45deg) translateY(-4px);
            }
        }
    }

    .header__nav {
        display:  block;
        position: absolute;
        width:    calc(~'100% - 32px');
        height:   100%;
        top:      88px;
        left:     16px;
    }

    .header-nav__menu {
        display:        flex;
        flex-direction: column;
        opacity:        1;
        visibility:     visible;
    }
}


@media (min-width: 1024px) {
    .header--open {
        height: 64px;

        .header__nav {
            display:  block;
            position: relative;
            width:    auto;
            height:   auto;
            top:      0;
        }

        .header-nav__menu {
            display:        flex;
            flex-direction: row;
            opacity:        1;
            visibility:     visible;
        }
    }

    .header__content {
        width:  1024px;
        margin: 0 auto;
    }

    .header__nav {
        display: block;
        width:    auto;
        height:   auto;
    }

    .header__menu {
        display: none;
    }

    .header-nav__menu {
        display:    flex;
        visibility: visible;
        opacity: 1;

        li {
            margin:         0 0 0 32px;
            padding:        0;
            border-bottom:  none;
            position:       relative;
            padding-bottom: 5px;

            a {
                font-size:       13px;
                letter-spacing:  3px;
            }

            &.current-menu-item:after {
                content:       "";
                position:      absolute;
                left:          0;
                bottom:        0;
                width:         calc(100% - 2px);
                border-bottom: 1px solid white;
            }
        }
    }
}