.footer {
    background: #393842;
}

.footer__content {
    padding: 40px 16px 64px;
}

.footer__logos {
    margin-bottom: 32px;
}

.footer__ingage-link {
    display:         flex;
    align-items:     center;
    justify-content: center;
    text-decoration: none;
    margin-bottom:   42px;
}

.footer__ingage-icon {
    width:        56px;
    height:       56px;
    margin-right: 16px;
}

.footer__branding {
    font-family:    Brandon Grotesque Light, Helvetica, sans-serif;
    font-size:      40px;
    letter-spacing: -0.7px;
    color:          #FAFAF7;
}

.footer__button {
    width:           320px;
    height:          48px;
    font-family:     Brandon Grotesque Black, Helvetica, sans-serif;
    font-size:       14px;
    line-height:     48px;
    letter-spacing:  3px;
    text-transform:  uppercase;
    text-decoration: none;
    text-align:      center;
    color:           white;
    border:          1px solid white;
    border-radius:   2px;
}

.footer__button, .footer__app-store {
    display: block;
    margin:  0 auto;
}

.footer__social {
    display:         flex;
    justify-content: space-between;
    margin-bottom:   32px;
}

.footer__nav {
    margin-bottom: 16px;
    padding-right: 42px;
}

.footer-nav__menu {
    margin-right:  -42px;
    display:   flex;
    flex-wrap: wrap;

    li {
        margin: 0 41px 16px 0;

        a {
            font-family:     Brandon Grotesque Bold, Helvetica, sans-serif;
            font-size:       14px;
            text-transform:  uppercase;
            letter-spacing:  1.5px;
            color:           #FFF;
            text-decoration: none;
        }
    }
}

.footer__legal {
    font-family:    Brandon Grotesque Medium, helvetica, sans-serif;
    color:          white;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-size:      10px;

    a {
        color:           white;
        text-decoration: none;
    }

    & + .footer__legal {
        margin-top: 12px;
    }
}

@media (min-width: 415px) {
    .footer__branding {
        font-size: 48px;
    }
}

@media (min-width: 768px) {
    .footer__content {
        padding: 80px 64px;
    }

    .footer__logos {
        display:         flex;
        align-items:     center;
        justify-content: space-between;
        margin-bottom:   80px;
    }

    .footer__ingage-link {
        margin-bottom: 0;
    }

    .footer__ingage-icon {
        width:  64px;
        height: 64px;
    }

    .footer__logos--realestate {
        display: block;

        .footer__ingage-link {
            justify-content: flex-start;
            margin-bottom:   42px;
        }

        .footer__button {
            margin: initial;
        }
    }

    .footer__social {
        justify-content: flex-start;
    }

    .footer__social-item {
        margin-right: 48px;
    }

    .footer__nav {
        padding-right: 24px;
    }

    .footer-nav__menu {
        margin-right: -24px;

        li {
            margin-right: 24px;
        }
    }
}

@media (min-width: 1024px) {
    .footer__content {
        max-width:      1024px;
        margin:         0 auto;
        padding-bottom: 112px;
    }

    .footer__logos--realestate {
        display:         flex;
        align-items:     center;
        justify-content: space-between;
        margin-bottom:   80px;

        .footer__ingage-link {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 767px) {
    .footer__logos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
