.asymmetrical__image {
    padding-bottom:      58.66667%;
    background-repeat:   no-repeat;
    background-size:     cover;
    background-position: center;
}

.asymmetrical__text-wrapper {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    padding:         24px 16px 64px;
}

.asymmetrical__header {
    font-family:    Brandon Grotesque Bold, helvetica, sans-serif;
    font-size:      40px;
    line-height:    48px;
    letter-spacing: -0.6px;
    text-align:     center;
    margin-bottom:  8px;
}

.asymmetrical__content {
    font-family:    Brandon Grotesque Regular, helvetica, sans-serif;
    font-size:      24px;
    line-height:    32px;
    letter-spacing: -0.6px;
    text-align:     center;
    margin-bottom:  24px;
}

.asymmetrical__link {
    display:          block;
    width:            320px;
    height:           48px;
    margin:           0 auto;
    font-family:      Brandon Grotesque Black, helvetica, sans-serif;
    font-size:        14px;
    line-height:      48px;
    letter-spacing:   3px;
    text-align:       center;
    text-transform:   uppercase;
    text-decoration:  none;
    color:            @light-grey;
    border-radius:    2px;
    background-color: @dark-sky-blue;
}

@media (min-width: 768px) {
    .asymmetrical__text-wrapper {
        padding: 40px;
    }

    .asymmetrical__header {
        text-align:    left;
        margin-bottom: 16px;
    }

    .asymmetrical__content {
        text-align: left;
    }

    .asymmetrical__link {
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .asymmetrical {
        height:  560px;
        display: flex;
    }

    .asymmetrical--right {
        flex-direction: row-reverse;
    }

    .asymmetrical__image {
        width:          56.66666%;
        flex-shrink:    0;
        padding-bottom: 0;
    }

    .asymmetrical__text-wrapper {
        padding:   80px 64px 96px 56px;

        .asymmetrical--right & {
            padding: 80px 56px 96px 64px;
        }
    }

    .asymmetrical__header {
        max-width:      416px;
        font-size:      40px;
        line-height:    48px;
        letter-spacing: -0.6px;
        margin-bottom:  24px;

        .asymmetrical--right & {
            text-align:   right;
            margin-left:  auto;
            margin-right: 0;
        }
    }

    .asymmetrical__content {
        max-width:      416px;
        font-size:      24px;
        line-height:    32px;
        letter-spacing: -0.6px;
        margin-bottom:  24px;

        .asymmetrical--right & {
            text-align:   right;
            margin-left:  auto;
            margin-right: 0;
        }
    }

    .asymmetrical__link {
        .asymmetrical--right & {
            margin: 0 0 0 auto;
        }
    }
}
