.editorial {
    background: #fafaf7;
    padding:    40px 32px 32px;
}

.editorial__content {
    max-width: 672px;
    margin:    auto;
}

.editorial__title {
    font-family:    Brandon Grotesque Bold, helvetica, sans-serif;
    font-size:      32px;
    line-height:    48px;
    letter-spacing: -0.5px;
    color:          #4f4e5c;
}

.editorial__body {
    font-family:    Brandon Grotesque Regular, helvetica, sans-serif;
    font-size:      24px;
    line-height:    32px;
    letter-spacing: -0.6px;
    color:          #4f4e5c;
    padding-top:    16px;
}

@media (max-width: 414px) {
    .editorial {
        padding-bottom: 64px;
    }
}

@media (min-width: 768px) {
    .editorial {
        padding: 80px 48px 64px;
    }
}
