.hero {
    position:   relative;
    width:      100%;
    overflow:   hidden;
    text-align: center;
    color:      #fafaf7;
    padding:    112px 0 128px;
    background: #393842;
}

.hero--play {
    padding-bottom: 56px;
}

.hero--button {
    padding-bottom: 39px;
}

.hero__content {
    position: relative;
}

.hero__sound-toggle {
    position: absolute;
    bottom:   16px;
    right:    14px;
}

.hero__video-wrapper {
    position:   absolute;
    top:        50%;
    left:       50%;
    min-width:  100%;
    height:     100%;
    transform:  translateX(-50%) translateY(-50%);
    opacity:    0.6;
}

.hero__video {
    width:            100%;
    height:           100%;
    object-fit:       cover;
    object-position:  center center;
    font-family:      'object-fit:    cover; object-position:  center center;'
}

.hero__image {
    position:            absolute;
    width:               100%;
    height:              100%;
    top:                 0;
    left:                0;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: 50% 50%;
    opacity:             0.6;
}

.hero__title {
    font-family:    Brandon Grotesque Bold, helvetica, sans-serif;
    font-size:      48px;
    line-height:    72px;
    letter-spacing: -1.8px;
    padding-left:   32px;
    padding-right:  32px;
}

.hero__subtitle {
    font-family:    Brandon Grotesque Regular, helvetica, sans-serif;
    font-size:      28px;
    line-height:    40px;
    letter-spacing: -0.5px;
    padding:        32px 16px 0;
}

.hero__play-button {
    border-radius:   24px;
    height:          40px;
    width:           96px;
    margin:          32px auto 0;
    background:      rgba(255, 255, 255, 0.6);
    box-shadow:      0 0 12px 0 rgba(0, 0, 0, 0.1);
    display:         flex;
    align-items:     center;
    justify-content: center;
    cursor:          pointer;

    &:hover {
        opacity: 0.4;
    }
}

.play-button__play {
    height:        23px;
    padding-right: 8px;
}

.play-button__duration {
    font-family:    Brandon Grotesque Black, helvetica, sans-serif;
    font-size:      14px;
    text-transform: uppercase;
    color:          #4f4e5b;
    letter-spacing: 2px;
}

.hero__app-store {
    margin-top: 33px;
    cursor:     pointer;
}

.hero__link {
    display:          block;
    width:            320px;
    height:           48px;
    border-radius:    2px;
    font-family:      Brandon Grotesque Black;
    font-size:        14px;
    line-height:      48px;
    letter-spacing:   3px;
    text-transform:   uppercase;
    text-decoration:  none;
    text-align:       center;
    color:            white;
    background-color: @dark-sky-blue;
    margin:           32px auto 0;
}

.hero__chevron-wrapper {
    position:         absolute;
    left:             0;
    right:            0;
    bottom:           16px;
    width:            48px;
    height:           48px;
    margin:           0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius:    50%;
    display:          flex;
    align-items:      center;
    justify-content:  center;
}

.hero__chevron-down {
    width:         8px;
    height:        8px;
    border-bottom: 1.5px solid white;
    border-right:  1.5px solid white;
    transform:     rotate(45deg);
}

@media (min-width: 768px) {
    .hero {
        padding: 208px 0 144px;
    }

    .hero--play {
        padding-bottom: 144px;
    }

    .hero__title {
        width:       672px;
        margin:      auto;
        font-size:   72px;
        line-height: 96px;
    }

    .hero__subtitle {
        width:       672px;
        margin:      auto;
        font-size:   36px;
        line-height: 48px;
        padding-top: 64px
    }

    .hero__play-button {
        margin-top: 40px;
    }

    .hero__link {
        margin-top: 40px;
    }
}

@media (min-width: 1024px) {
    .hero {
        padding: 296px 0 372px;
    }

    .hero--play {
        padding-bottom: 332px;
    }

    .hero__title {
        width:       864px;
        font-size:   72px;
        line-height: 96px;
    }

    .hero__subtitle {
        width:       864px;
        font-size:   36px;
        line-height: 48px;
        padding-top: 68px
    }

    .hero__play-button {
        margin-top: 48px;
    }

    .hero__sound-toggle {
        right:  32px;
    }

    .hero__link {
        margin-top: 48px;
    }
}
