.icons-title-text {
    background:     #fafaf7;
    padding:        32px 0 40px;
    display:        flex;
    flex-direction: column;
    align-items:    center;
}

.icons-title-text--image {
    background: #eeeeeb;
}

.icons-title-text__image {
    display: none;
}

.icons-title-text__image-small {
    max-width:           604px;
    width:               100%;
    height:              286px;
    margin:              auto;
    background-position: center center;
    background-size:     cover;
}

.icons-title-text__video {
    width:     100%;
    max-width: 640px;
    margin:    auto;
}

.icons-title-text__icons {
    margin:      auto;
    display:     flex;
    padding-top: 32px;
}

.title-text-icons__icon {
    width:        48px;
    height:       48px;
    margin-right: 24px;
}

.title-text-icons__icon:last-child {
    margin-right: 0;
}

.icons-title-text__title {
    color:       #4a4a4a;
    padding-top: 16px;
}

.icons-title-text__text {
    color: #4a4a4a;
}

@media (min-width: 768px) {
    .icons-title-text__image-small {
        display: none;
    }

    .icons-title-text__image {
        display: block;
        width:   768px;
        margin:  auto;
    }

    .icons-title-text__icons {
        padding-top: 64px;
    }

    .title-text-icons__icon {
        width:  64px;
        height: 64px;
        margin-right: 32px;
    }

    .icons-title-text {
        padding: 96px 0 72px;
    }

    .icons-title-text__title {
        padding-top: 24px;
    }
}

@media (min-width: 1024px) {
    .icons-title-text__title {
        padding-top: 32px;
    }
}