.ingage-embed-title-text {
    background:     #393842;
    padding-bottom: 40px;
}

.embed-title-text__title {
    letter-spacing: -1.4px;
    color:          #fff;
    padding:        24px 16px 0;
}

.embed-title-text__text {
    color: #fff;
}

@media (min-width: 768px) {
    .ingage-embed-title-text {
        padding: 96px 0 72px;
    }

    .embed-title-text__title {
        padding: 31px 40px 0;
    }
}

@media (min-width: 1024px) {
    .ingage-embed-title-text {
        padding-bottom: 128px;
    }
}