.ingage-embed__container {
    position:       relative;
    margin:         auto;
    padding-bottom: 66%;
    overflow:       hidden;
}

.ingage-embed__view {
    position:   absolute;
    width:      100%;
    top:        50%;
    left:       50%;
    transform:  translate3d(-50%, -50%, 0);
    box-sizing: content-box;
}

@media (min-width: 768px) {
    .ingage-embed__container {
        width:          672px;
        height:         467px;
        padding-bottom: 0;
    }
}