.ingage-embed-link {
    background: #fafaf7;
}

.ingage-embed-link__content {
    background:     #393842;
    padding-bottom: 40px;
}

.embed-link__title {
    font-family:    Brandon Grotesque Black, helvetica, sans-serif;
    font-size:      16px;
    line-height:    24px;
    letter-spacing: 4px;
    color:          #fff;
    text-transform: uppercase;
    padding-top:    24px;
    text-align:     center;
}

.embed-link__link {
    display:          block;
    width:            320px;
    height:           48px;
    margin:           0 auto;
    font-family:      Brandon Grotesque Black, helvetica, sans-serif;
    font-size:        14px;
    letter-spacing:   3px;
    line-height:      48px;
    text-align:       center;
    text-transform:   uppercase;
    text-decoration:  none;
    color:            #fafaf7;
    border-radius:    2px;
    background-color: #2ea1e8;
    margin-top:       16px;
}

@media (min-width: 768px) {
    .ingage-embed-link__content {
        width:           672px;
        margin:          auto;
        padding:         12px;
        display:         flex;
        justify-content: space-between;
        align-items:     center;
    }

    .embed-link__title {
        font-size:    20px;
        line-height:  24px;
        padding-top:  0;
        padding-left: 12px;
        text-align:   left;
    }

    .embed-link__link {
        width:  176px;
        height: 48px;
        margin: 0;
    }
}