div.modal {
    position:    fixed;
    background:  rgba(0, 0, 0, 0.5);
    top:         0;
    right:       0;
    bottom:      0;
    left:        0;
    font-family: 'Brandon Grotesque light';
    color:       #393842;
    overflow-y:  scroll;
    z-index:     100;

    &.hidden {
        display: none;
    }

    &#message-modal {
        .modal-content {
            text-align: center;

            h1 {
                margin-bottom: 24px;
            }

            p {
                width:          400px;
                margin-bottom:  24px;
                max-width:      100%;
                letter-spacing: 0.5px;

                span {
                    font-family: inherit;
                }
            }

            .button {
                line-height:     48px;
                text-decoration: none;
                margin-bottom:   24px;

                &:hover {
                    opacity: 0.4;
                }
            }
        }
    }

    &#purchase-modal {
        .modal-content {
            input[type="submit"] {
                &[disabled="disabled"] {
                    background-color: grey;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            ul {
                margin: 0;
                padding: 0;
                font-family: HelveticaNeue, Helvetica, sans-serif;

                li {
                    background: #fff;
                    margin-bottom: 14px;
                    list-style: none;
                    border-radius: 5px;
                    padding: 0 20px;
                    font-size: 16px;
                    height: 48px;
                    line-height: 48px;

                    &.total {
                        background: rgba(46, 161, 232, 0.2);
                    }

                    span.product {
                        float: left;
                    }

                    span.price {
                        float: right;
                    }
                }
            }

            p.help {
                text-align: center;
                margin: 24px 0px;
            }

            a.monthly-yearly,
            a.no-coupon {
                font-size:      16px;
                color:          #2ea1e8;
                margin-top:     24px;
                display:        block;
                line-height:    24px;
                letter-spacing: 1px;
                text-align:     center;
                font-family:    'Brandon Grotesque Regular';
                user-select:    none;
            }

            a.no-coupon {
                font-size: 14px;
                font-family: HelveticaNeue, Helvetica, sans-serif;
            }
        }
    }

    &#login-modal {
        form {
            text-align: center;

            p {
                text-align: left;
            }

            input[type="submit"] {
                margin-bottom: 12px;
            }
        }

        a.forgot-password {
            text-align: center;
        }
    }

    &#subscriptions-modal {
        .modal-content {
            button.button {
                margin-top: 16px;
            }
        }
    }

    .modal-content {
        box-sizing:       border-box;
        background-color: #eeeeeb;
        margin:           auto;
        position:         absolute;
        right:            0;
        left:             0;
        min-height:       100%;
        padding:          64px 24px 80px 24px;
        text-align:       left;

        h1 {
            font-size: 48px;
            line-height: 64px;
            font-family: 'Brandon Grotesque Light';
        }

        p {
            font-family: Helvetica;
            font-size: 16px;
            line-height: 24px;
            margin-top: 8px;
            margin-bottom: 16px;
            letter-spacing: 0.5px;

            &.description {
                display: inline-block;
            }
        }

        img {
            width: 87px;
            margin: auto;
            margin-bottom: 24px;
        }

        .close {
            position: absolute;
            right:    0;
            top:      0;
            margin:   24px;
            width:    14px;
            height:   14px;
            cursor:   pointer;
            padding:  0;
            border:   none;

            &:before {
                content:           '';
                position:          absolute;
                top:               50%;
                left:              0;
                width:             12px;
                border:            1px solid #393842;
                -webkit-transform: rotate(45deg);
                -moz-transform:    rotate(45deg);
                -ms-transform:     rotate(45deg);
                -o-transform:      rotate(45deg);
                transform:         rotate(45deg);
            }

            &:after {
                content:           '';
                position:          absolute;
                top:               50%;
                left:              0;
                width:             12px;
                border:            1px solid #393842;
                -webkit-transform: rotate(-45deg);
                -moz-transform:    rotate(-45deg);
                -ms-transform:     rotate(-45deg);
                -o-transform:      rotate(-45deg);
                transform:         rotate(-45deg);
            }
        }

        .sign-in {
            font-family: HelveticaNeue, Helvetica;
            left:        0;
            right:       0;
            font-size:   16px;
            line-height: 24px;
            color:       #2ea1e8;
            bottom:      0;
            cursor:      pointer;

            &:hover {
                opacity: 0.4;
            }

            span {
                font-family: HelveticaNeue-Bold, Helvetica;
                font-weight: bold;
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="tel"],
        input[type="password"] {
            width:              100%;
            height:             48px;
            margin-top:         16px;
            font-size:          16px;
            font-family:        HelveticaNeue, Helvetica;
            border:             1px solid #ffffff;
            background:         #ffffff;
            border-radius:      4px;
            padding:            7px 19px;
            box-sizing:         border-box;
            outline:            none;
            box-shadow:         none;
            -webkit-appearance: none;

            &:invalid {
                box-shadow: none;
            }

            &:focus {
                border: 1px solid #2ea1e8;
            }

            &.error {
                border: 1px solid #f57162;

                &:focus {
                    border: 1px solid #f57162;
                }
            }
        }

        .half, .third, .two-thirds {
            float:         left;
            padding-right: 16px;
            box-sizing:    border-box;

            &:last-child {
                padding-right: 0px;
            }
        }

        .half {
            width: 50%;
        }

        .third {
            width: calc(100% / 3);
        }

        .two-thirds {
            width: calc(200% / 3);
        }

        .thirds-container .third {
            margin-bottom: 48px;
        }

        div.error {
            color:       #f57162;
            display:     block;
            font-size:   16px;
            line-height: 24px;
            text-align:  center;
            margin:      24px 0;
            font-family: Helvetica;
        }

        div.clear {
            clear: both;
        }

        button {
            background: none;
        }

        input[type="submit"],
        .button {
            width:              100%;
            height:             48px;
            background:         #2ea1e8;
            color:              #ffffff;
            font-size:          14px;
            line-height:        16px;
            font-family:        'Brandon Grotesque Black';
            letter-spacing:     3px;
            text-transform:     uppercase;
            border:             0px;
            border-radius:      2px;
            display:            block;
            margin:             auto;
            cursor:             pointer;
            box-sizing:         border-box;
            padding:            0;
            -webkit-appearance: none;

            &:hover {
                opacity: 0.4;
            }

            &[disabled="disabled"] {
                background-color: grey;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    div.modal {
        .modal-content {
            margin:        30px auto;
            border-radius: 12px;
            width:         700px;
            min-height:    704px;
            padding:       64px 36px 80px 36px;

            p.description {
                width: auto;
            }

            .close {
                margin: 36px;
            }

            input[type="submit"],
            .button {
                width: 320px;
            }
        }
    }
}

@media (min-width: 1024px) {
    div.modal {
        .modal-content {
            width:            786px;
            height:           auto;
            padding:          64px 64px 80px 64px;

            h1 {
                font-size:   48px;
                line-height: 64px;
            }

            .half {
                width:         50%;
                float:         left;
                padding-right: 8px;
                box-sizing:    border-box;

                &:last-child {
                    padding-right: 0px;
                    padding-left:  8px;
                }
            }
        }
    }
}
