.next-link {
    background: #4f4e5c;
}

.next-link--blue {
    background: #2ea1e8;
}

.next-link__link {
    position:        relative;
    display:         block;
    color:           #fff;
    text-decoration: none;
    padding:         32px 24px;
    opacity:         0.99;
    overflow:        hidden;
    cursor:          pointer;
}

@media (min-width: 768px) {
    .next-link__link {
        padding: 64px 148px;
    }
}

.link__image {
    position:            absolute;
    top:                 0;
    left:                0;
    width:               100%;
    height:              100%;
    background-size:     cover;
    background-position: center center;
    filter:              blur(2px);
    z-index:             -1;
    transform:           scale(1.1);
}

.link__title {
    font-family:    Brandon Grotesque Bold, helvetica, sans-serif;
    font-size:      16px;
    line-height:    24px;
    letter-spacing: 3.2px;
    text-align:     center;
    font-weight:    500;
    text-transform: uppercase;
    margin:         0;
}

@media (min-width: 768px) {
    .link__title {
        font-size:      20px;
        letter-spacing: 4px;
    }
}

.link__subtitle {
    display:        block;
    font-family:    Brandon Grotesque Regular, helvetica, sans-serif;
    font-size:      48px;
    line-height:    56px;
    letter-spacing: -0.4px;
    text-align:     center;
    margin:         0 auto;
    padding-top:    24px;
    text-shadow:    2px 3px 0 rgba(57,56,66,0.2);
}

@media (min-width: 768px) {
    .link__subtitle {
        font-size:      64px;
        line-height:    56px;
        letter-spacing: -0.4px;
    }
}