section.tiers {
    width: 100%;
    overflow-x: hidden;
    background: #393842;
    font-family: 'Brandon Grotesque Light';

    .section-content {
        color:          #fafaf7;
        padding-bottom: 0;
        text-align:     center;

        div {
            width:          auto;
            height:         auto;
            text-align:     center;
            padding-top:    48px;
            padding-bottom: 64px;
            position:       relative;
            vertical-align: top;

            &.free-full {
                display: none;
            }

            &.free-small {
                padding-top: 24px;
                background-color: #4f4e5c;

                p {
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 16px;
                    font-family: 'Brandon Grotesque Regular';
                }
            }

            .about-subscriptions {
                font-size:      14px;
                line-height:    16px;
                font-family:    HelveticaNeue, Helvetica, sans-serif;
                letter-spacing: -0.1px;
            }

            div.spot {
                width: 375px;
                height: 200px;
                background-size: cover;
                background-position: 50% 50%;
                padding: 0;
                margin: auto;

                &.free {
                    background-image: url('./assets/images/free_spot.png');
                }

                &.plus {
                    background-image: url('./assets/images/plus_spot.png');
                }
            }

            h1 {
                position: absolute;
                top: 48px;
                left: 0;
                right: 0;
                letter-spacing: -0.6px;
                font-size: 40px;
                line-height: 200px;

            }

            ul {
                list-style:    none;
                font-size:     16px;
                line-height:   48px;
                width:         320px;
                margin:        auto;
                margin-bottom: 16px;
                padding:       0;

                li {
                    position:       relative;
                    height:         56px;
                    text-align:     left;
                    font-size:      24px;
                    line-height:    32px;
                    padding-top:    14px;
                    box-sizing:     border-box;
                    letter-spacing: -0.5px;


                    &:first-child {
                        border-top: 1px solid transparent;
                    }

                    span {
                        display:        block;
                        font-size:      14px;
                        line-height:    16px;
                        font-family:    HelveticaNeue, Helvetica, sans-serif;
                        letter-spacing: -0.1px;
                    }
                }

                hr {
                    height: 0px;
                    padding: 0;
                    margin: 0;
                    border: 1px solid #656475;
                    border-radius: 2px;
                }

                &.checkmark {
                    li {
                        padding-left: 29px;

                        &:before {
                            text-align: left;
                            content: '';
                            background-image: url('./assets/images/path-460.svg');
                            color: #2ea1e8;
                            position: absolute;
                            left: 2px;
                            width: 20px;
                            height: 20px;
                            background-position: 50% 50%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            top: 19px;
                        }
                    }
                }
            }

            button.button {
                display:            block;
                border-radius:      2px;
                width:              320px;
                margin:             auto;
                height:             48px;
                font-size:          14px;
                line-height:        48px;
                color:              #fafaf7;
                background:         #2ea1e8;
                text-decoration:    none;
                text-transform:     uppercase;
                font-family:        'Brandon Grotesque Black';
                letter-spacing:     3px;
                cursor:             pointer;
                padding:            0;
                border:             none;
                -webkit-appearance: none;

                &.yearly {
                    margin-top: 12px;
                }

                &:hover {
                    opacity: 0.4;
                }
            }

            a {
                font-size:      16px;
                color:          #2ea1e8;
                margin-top:     24px;
                display:        block;
                line-height:    24px;
                letter-spacing: 1px;
            }
        }
    }
}

@media (min-width: 768px) {
    section.tiers {

        &--padding-top {
            padding-top: 64px;
        }

        div.section-content {
            padding-bottom: 96px;

            div {
                width:   320px;
                margin:  0 24px;
                display: inline-block;
                padding: 0;

                &.free-full {
                    display: inline-block;
                }

                &.free-small {
                    display: none;
                }

                div.spot {
                    width:         192px;
                    height:        192px;
                    border-radius: 50%;
                    margin-bottom: 16px;
                }

                h1 {
                    font-size:      36px;
                    line-height:    64px;
                    letter-spacing: -0.8px;
                    position:       static;
                }

                ul {
                    font-size:     20px;
                    line-height:   48px;
                    margin-bottom: 24px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    section.tiers {

        &--padding-top {
            padding-top: 112px;
        }

        div.section-content {
            padding-bottom: 128px;

            div {
                margin:  0 64px;
                padding: 0;

                div.spot {
                    height: 224px;
                    width:  224px;
                }

                h1 {
                    font-size:      48px;
                    line-height:    74px;
                    letter-spacing: -0.8px;
                    margin-bottom:  16px;
                }

                ul {
                    font-size:     24px;
                    line-height:   64px;
                    margin-bottom: 28px;

                    li {
                        height:      64px;
                        padding-top: 16px;
                    }

                    &.checkmark {
                        li:before {
                            top: 21px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section.tiers {
        div.section-content {
            div {
                ul {
                    margin-bottom: 40px;
                }
            }
        }
    }
}
