.quote {
    text-align: center;
}

.quote--dark {
    background: @slate-grey;

    .quote__text {
        color: @light-grey;
    }

    .quote__author {
        color: white;
    }
}

.quote--light {
    background: @light-grey-two;

    .quote__text,
    .quote__author {
        color: @slate-grey;
    }
}

.quote__text {
    font-family:    Brandon Grotesque Light, helvetica, sans-serif;
    font-size:      32px;
    line-height:    40px;
    letter-spacing: -0.2px;
    padding:        38px 16px 0;
}

.quote__author {
    font-family:    Brandon Grotesque Black, helvetica, sans-serif;
    font-size:      12px;
    line-height:    24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding:        24px 16px 32px;
}

@media (min-width: 768px) {
    .quote__text {
        font-size:   44px;
        line-height: 56px;
        padding:     64px 48px 0;
    }

    .quote__author {
        font-size:      20px;
        letter-spacing: 4px;
        padding:        24px 48px 64px;
    }
}

@media (min-width: 1024px) {
    .quote__text {
        max-width: 1088px;
        margin: auto;
    }

    .quote__author {
        max-width: 1088px;
        margin: auto;
    }
}