section.basic-hero {
    width: 100%;
    background: #393842;

    .section-content {
        color:      #fafaf7;
        padding:    112px 0px 24px 0px;
        text-align: center;
        max-width:  375px;
        margin:     auto;

        h1, h3 {
            margin:    auto;
            text-transform: none;
        }

        h1 {
            font-size:      46px;
            line-height:    64px;
            letter-spacing: -1.1px;
            margin-bottom:  36px;
            font-family:    'Brandon Grotesque Medium';
        }

        h3 {
            font-size:      24px;
            line-height:    32px;
            letter-spacing: -0.3px;
            font-family:    'Brandon Grotesque Light';
        }
    }
}

@media (min-width: 768px) {
    section.basic-hero {
        div.section-content {
            padding-top:    96px;
            padding-bottom: 56px;

            h1 {
                font-size:     48px;
                margin-bottom: 48px;
            }

            h3 {
                font-size: 24px;
                max-width: 530px;
            }
        }
    }
}

@media (min-width: 1024px) {
    section.basic-hero {
        div.section-content {
            padding-top:    128px;
            padding-bottom: 80px;
            max-width:      none;

            h1 {
                font-size: 72px;
                margin-bottom: 48px;
                line-height: 96px;
                letter-spacing: -1.8px;
            }

            h3 {
                font-size: 36px;
                width: 630px;
                line-height: 48px;
                letter-spacing: -0.5px;
            }
        }
    }
}
