.three-steps {
    background-color: @slate-grey;
}

.three-steps__content {
    padding: 64px 16px 48px;
}

.three-steps__title {
    font-family:    'Brandon Grotesque Light';
    font-size:      40px;
    line-height:    56px;
    letter-spacing: -0.6px;
    text-align:     center;
    color:          @light-grey;
    margin-bottom:  32px;
}

.three-steps__step {
    margin-bottom:  48px;
}

.three-steps__number {
    width:            96px;
    height:           96px;
    margin:           0 auto 16px;
    font-family:      'Brandon Grotesque Black';
    font-size:        48px;
    line-height:      96px;
    text-align:       center;
    border-radius:    50%;
    color:            @slate-grey;
    background-color: @dark-sky-blue;
}

.three-steps__text {
    font-family:    'Brandon Grotesque Regular';
    font-size:      24px;
    line-height:    32px;
    letter-spacing: -0.6px;
    text-align:     center;
    color:          @light-grey;
}

@media (min-width: 768px) {
    .three-steps__content {
        padding: 80px 40px 112px;;
    }

    .three-steps__title {
        font-size:      56px;
        line-height:    72px;
        letter-spacing: -0.9px;
        padding:        0 75px;
        margin-bottom:  40px;
    }

    .three-steps__steps {
        display:         flex;
        justify-content: center;
    }

    .three-steps__step {
        margin-bottom: 0;

        &:not(:first-child) {
            margin-left: 32px;
        }
    }

    .three-steps__number {
        margin: 0 auto 32px;
    }
}

@media (min-width: 1024px) {
    .three-steps__content {
        padding: 80px 152px 112px;
    }

    .three-steps__title {
        font-size:      64px;
        line-height:    80px;
        letter-spacing: -1px;
    }

    .three-steps__step {
        &:not(:first-child) {
            margin-left: 48px;
        }
    }
}
