.link-blocks {
    background:     #FAFAF7;
    color:          #4F4E5C;
    padding-top:    45px;
    padding-bottom: 64px;

    &--dark {
        background: #4F4E5C;
        color:      #FFF;
    }

    @media (min-width: 768px) {
        padding-top: 96px;
    }

    &__subtitle {
        padding-top:    27px;
        padding-left:   16px;
        padding-right:  16px;

        @media (min-width: 768px) {
            padding-top:   27px;
            padding-left:  0;
            padding-right: 0;
        }
    }
}

.link-blocks__blocks {
    display:     flex;
    margin:      0 auto;
    align-items: row;
    flex-wrap:   wrap;
    padding-top: 58px;

    @media (min-width: 1024px) {
        padding-left:  2px;
        padding-right: 2px;
        width:         1024px;
    }
}

.blocks__block {
    position:        relative;
    display:         flex;
    align-items:     center;
    justify-content: center;
    flex-shrink:     0;
    width:           100%;
    height:          140px;
    color:           #FFF;
    text-decoration: none;
    opacity:         0.99;
    padding:         32px;
    overflow:        hidden;

    @media (min-width: 768px) {
        height: 192px;
    }

    @media (min-width: 1024px) {
        margin: 4px;
        width:  502px;
        height: 192px;
    }
}

.block__image {
    position:            absolute;
    z-index:             -1;
    top:                 0;
    left:                0;
    width:               100%;
    height:              100%;
    background-size:     cover;
    background-position: center center;
    -webkit-filter:      blur(2px);
    filter:              blur(2px);
}

.block__title {
    font-family:    Brandon Grotesque Bold;
    font-weight:    500;
    font-size:      40px;
    line-height:    44px;
    letter-spacing: -0.2px;
    text-shadow:    2px 3px 0 rgba(57,56,66,0.2);
    text-align:     center;
}

@media (max-width: 414px) {
    .link-blocks__subtitle {
        padding-top: 32px;
    }
}

@media (max-width: 768px) {
    .link-blocks {
        padding-bottom: 0;
    }
}
