.title-text-button {
    padding:    32px 16px 40px;
    background: #eeeeeb;
}

.title-text-button--dark {
    background: #4f4e5c;
}

.title-text-button__title {
    font-size:      44px;
    letter-spacing: -1px;
    color:          #4f4e5c;
}

.title-text-button__text {
    font-size: 22px;
    color:     #4f4e5c;
}

.title-text-button__title--dark {
    color: #fafaf7;
}

.title-text-button__text--dark {
    color: #fafaf7;
}

.title-text-button__button {
    display:         block;
    width:           320px;
    margin:          0 auto;
    margin-top:      24px;
    padding:         16px;
    background:      #2ea1e8;
    cursor:          pointer;
    color:           #fff;
    font-family:     Brandon Grotesque Black, helvetica, sans-serif;
    text-transform:  uppercase;
    font-size:       14px;
    line-height:     16px;
    letter-spacing:  3px;
    text-decoration: none;
    text-align:      center;
    border-radius:   2px;
}

@media (max-width: 768px) {
    .title-text-button {
        padding-bottom: 64px;
    }
}

@media (min-width: 768px) {
    .title-text-button {
        padding: 96px 0 128px;
    }

    .title-text-button__title {
        font-size: 64px;
    }

    .title-text-button__text {
        font-size: 24px;
    }
}
