.top-video-title-text {
    background: #4f4e5c;
    padding:    0;
    text-align: center;
}

.top-video-title-text--light {
    background: #eeeeeb;
}

.top-video-title-text--dark {
    background: #4f4e5c;
}

.top-video-title-text--padding-top {
    padding-top: 64px;
}

.top-video-title-text--padding-bottom {
    padding-bottom: 64px;
}

.top-video-title-text__video-container {
    padding-bottom: 56%;
    overflow:       hidden;
    position:       relative;
}

.top-video-title-text__video,
.top-video-title-text__video-still {
    position:  absolute;
    width:     100%;
    top:       50%;
    left:      50%;
    transform: translate3d(-50%, -50%, 0);
}

.video-container__sound {
    position: absolute;
    bottom:   14px;
    right:    14px;
}

.top-video-title-text__play-button-wrapper {
    position:        absolute;
    width:           76px;
    height:          76px;
    top:             50%;
    left:            50%;
    transform:       translate3d(-50%, -50%, 0);
    border-radius:   50%;
    cursor:          pointer;
    background:      rgba(216, 216, 216, 0.9);
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.top-video-title-text__play-button {
    width:     19px;
    height:    25px;
    transform: translateX(2.5px);
}

.top-video-title-text--light .top-video-title-text__title,
.top-video-title-text--light .top-video-title-text__text {
    color: black;
}

.top-video-title-text__title {
    letter-spacing: -1px;
    color:          #fafaf7;
    padding:        33px 16px 0;
}

.top-video-title-text__text {
    color:          #fafaf7;
}

.top-video-title-text__button {
    display:         block;
    width:           320px;
    margin:          0 auto;
    margin-top:      24px;
    padding:         16px;
    background:      #2ea1e8;
    cursor:          pointer;
    color:           #fff;
    font-family:     Brandon Grotesque Black, helvetica, sans-serif;
    text-transform:  uppercase;
    font-size:       14px;
    line-height:     16px;
    letter-spacing:  3px;
    text-decoration: none;
    text-align:      center;
}

@media (min-width: 768px) {
    .top-video-title-text--padding-bottom {
        padding-bottom: 70px;
    }

    .top-video-title-text__title {
        padding: 48px 40px 0;
    }

    .top-video-title-text__button {
        margin-top: 48px;
    }
}

@media (min-width: 1024px) {
    .top-video-title-text--padding-top {
        padding-top: 112px;
    }

    .top-video-title-text--padding-bottom {
        padding-bottom: 128px;
    }

    .top-video-title-text__video-container {
        margin:         auto;
        width:          1024px;
        height:         576px;
        padding-bottom: 0;
    }

    .top-video-title-text__title {
        padding: 60px 0 0;
    }
}
