.tutorials {
    background: #4f4e5c;
    padding:    64px 16px 24px;
}

.tutorials__title,
.tutorials__text {
    color: #fafaf7;
}

.tutorials__videos {
    padding-top: 8px;
}

.videos__video-block {
    margin-top:  16px;
    background:  #fafaf7;
    height:      90px;
    display:     flex;
}

.video-block__video-container {
    position:        relative;
    width:           120px;
    height:          100%;
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.video-container__thumbnail  {
    background-size:     cover;
    background-position: center center;
    position:            absolute;
    width:               100%;
    height:              100%;
    top:                 0;
    left:                0;
}

.video-container__play-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 2;
    cursor:  pointer;
    background: rgba(216, 216, 216, 0.9);
}

.video-container__play-button {
    width:   16px;
    height:  21px;
    transform: translateX(2px);
}

.video-block__content {
    padding-left: 16px;
}

.video-block__title {
    font-family:    Brandon Grotesque Black;
    size:           14px;
    line-height:    16px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color:          #4f4e5c;
    padding-top:    27px;
}

.video-block__duration {
    font-family: Brandon Grotesque Bold;
    size:        14px;
    line-height: 16px;
    color:       #4f4e5c;
    padding-top: 4px;
}

@media (max-width: 768px) {
    .video-container__play-button {
        width: 10px;
        height: 14px;
        transform: translateX(1px);
    }
}

@media (min-width: 768px) {
    .tutorials {
        padding: 68px 12px 24px;
    }

    .tutorials__videos {
        display:     flex;
        flex-wrap:   wrap;
        width:       744px;
        margin:      auto;
        padding-top: 12px;
    }

    .videos__video-block {
        width:         240px;
        height:        180px;
        position:      relative;
        margin-right:  12px;
        margin-top:    12px;
        border-radius: 2px;
        overflow:      hidden;
    }

    .videos__video-block:nth-child(3n) {
        margin-right: 0;
    }

    .video-block__video-container {
        position: absolute;
        width:    100%;
    }

    .video-container__play-button-wrapper {
        width:     64px;
        height:    64px;
        transform: translateY(-28px);
    }

    .video-block__content {
        position:   absolute;
        bottom:     0;
        background: rgba(237, 237, 235, 0.9);
        height:     60px;
        width:      100%;
    }

    .video-block__title {
        color:       #4a4a4a;
        padding-top: 12px;
    }

    .video-block__duration {
        font-family: Brandon Grotesque Regular;
        color:       #4a4a4a;
    }
}

@media (min-width: 1024px) {
    .tutorials {
        padding: 94px 12px 96px;
    }

    .tutorials__videos {
        width:       992px;
        padding-top: 36px;
    }

    .videos__video-block {
        width:        320px;
        height:       240px;
        margin-right: 16px;
        margin-top:   16px;
    }

    .video-container__play-button-wrapper {
        transform: translateY(-28px);
    }
}
