.video-title-text {
    background:     #393842;
    padding-bottom: 40px;
    display:        flex;
    flex-direction: column;
    align-items:    center;
}

.video-title-text--light {
    background: #fafaf7;
}

.video-title-text--grey {
    background: #4f4e5c;
}

.video-title-text__title {
    letter-spacing: -1.4px;
    color:          #fafaf7;
    padding:        24px 16px 0;
}

.video-title-text__text {
    color: #fafaf7;
}

.video-title-text__title--light {
    color: #4f4e5c;
}

.video-title-text__text--light {
    color: #4f4e5c;
}

.video-title-text__image {
    width:     100%;
    max-width: 672px;
}

.video-title-text__video {
    width:     100%;
    max-width: 672px;
}

@media (max-width: 768px) {
    .video-title-text--has-padding {
        padding-top: 16px;

        .video-title-text__media {
            padding: 0 16px;
        }
    }
}

@media (min-width: 768px) {
    .video-title-text {
        padding: 96px 0 72px;
    }

    .video-title-text__title {
        padding: 31px 40px 0;
    }
}

@media (min-width: 1024px) {
    .video-title-text {
        padding-bottom: 128px;
    }
}