.realestate-modal {
    position:        fixed;
    width:           100%;
    height:          100%;
    top:             0;
    left:            0;
    z-index:         100;
    background:      rgba(0, 0, 0, 0.6);
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.realestate-modal__container {
    position:         relative;
    width:            100%;
    height:           100%;
    padding:          48px 16px;
    background-color: @light-grey-two;
    overflow:         auto;

    @media (min-width: 736px) and (min-height: 704px) {
        width:         736px;
        height:        704px;
        border-radius: 12px;
        padding:       64px 84px 58px 84px;
        overflow:      hidden;
    }
}

.realestate-modal__close {
    position:         absolute;
    width:            14px;
    height:           14px;
    top:              0;
    right:            0;
    margin:           24px;
    cursor:           pointer;
    padding:          0;
    border:           none;
    outline:          none;
    background-color: transparent;

    &:before {
        content:   '';
        position:  absolute;
        top:       50%;
        left:      0;
        width:     15px;
        border:    1px solid @charcoal-grey;
        transform: rotate(45deg);
    }

    &:after {
        content:   '';
        position:  absolute;
        top:       50%;
        left:      0;
        width:     15px;
        border:    1px solid @charcoal-grey;
        transform: rotate(-45deg);
    }

    @media (min-width: 415px) {
        margin: 30px;
    }
}

.realestate-modal__title {
    font-family:    Brandon Grotesque Light;
    font-size:      36px;
    line-height:    48px;
    text-align:     center;
    letter-spacing: -0.8px;
    margin-bottom:  26px;
    color:          @charcoal-grey;

    @media (min-width: 415px) {
        font-size:   51.2px;
        line-height: 72px;
    }
}

.realestate-modal__step-list {
    margin-bottom: 42px;
}

.realestate-modal__step {
    font-family: HelveticaNeue Medium, Helvetica, sans-serif;
    font-size:   16px;
    line-height: 24px;
    color:       @charcoal-grey;
    display:     flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 36px;
    }

    @media (min-width: 415px) {
        padding-right: 65px;
    }
}

.realestate-modal__step-number {
    flex-shrink:      0;
    width:            64px;
    height:           64px;
    margin-right:     16px;
    border-radius:    50%;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    font-family:      Brandon Grotesque Black;
    font-size:        42px;
    color:            @light-grey;
    background-color: @dark-sky-blue;

    @media (min-width: 415px) {
        width:        85px;
        height:       85px;
        margin-right: 25px;
        font-size:    58px;
    }
}

.realestate-modal__link {
    display:          block;
    margin:           0 auto;
    width:            288px;
    height:           48px;
    border-radius:    2px;
    font-family:      Brandon Grotesque Black;
    font-size:        14px;
    text-align:       center;
    line-height:      48px;
    letter-spacing:   3px;
    text-transform:   uppercase;
    text-decoration:  none;
    color:            white;
    background-color: @dark-sky-blue;

    @media (min-width: 352px) {
        width: 320px;
    }
}
