.mutable-toggle {
    width:      48px;
    height:     48px;
    border:     none;
    outline:    none;
    background: url('./assets/images/sound.svg');
    cursor:     pointer;

    &.muted {
        background: url('./assets/images/no-sound.svg');
    }
}

.mutable-toggle:hover,
.mutable-toggle:active {
    opacity: 0.4;
}
