.title-text__title {
    text-align:     center;
    font-family:    Brandon Grotesque Light, helvetica, sans-serif;
    font-size:      44px;
    line-height:    56px;
    letter-spacing: -0.7px;
    max-width:      880px;
    margin:         auto;
    padding-left:   16px;
    padding-right:  16px;
}

.title-text__text {
    font-family:    Brandon Grotesque Regular, helvetica, sans-serif;
    text-align:     center;
    font-size:      24px;
    line-height:    32px;
    letter-spacing: -0.6px;
    padding:        16px 16px 0;
    max-width:      700px;
    margin:         auto;
}

@media (max-width: 768px) {
    .title-text__text {
        padding: 32px 16px 0;
    }
}

@media (min-width: 768px) {
    .title-text__title {
        font-size:      64px;
        line-height:    80px;
        letter-spacing: -1px;
    }

    .title-text__text {
        font-size:   24px;
        line-height: 32px;
        padding:     24px 0 0;
    }
}
