.video__scrim {
    display: none;
}

.video__scrim--open {
    position:        fixed;
    top:             0;
    left:            0;
    width:           100%;
    height:          100%;
    background:      #393842;
    z-index:         100;
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.scrim__close {
    position: absolute;
    top:      16px;
    right:    16px;
    width:    20px;
    height:   20px;
    cursor:   pointer;
    z-index:  2;

    :first-child,
    :nth-child(2) {
        position: absolute;
        top:      50%;
        width:    20px;
        border:   1px solid #fff;
    }

    :first-child {
        transform: rotate(45deg);
    }

    :nth-child(2) {
        transform: rotate(-45deg);
    }
}

.scrim__video {
    width:      1024px;
    max-width:  100%;
    max-height: 100%;
}